footer
    position relative
    bottom 0 
    width 100%
    height auto
    background #E9E8E8
    z-index 2
    padding 25px 0 10px 0
    border-top 2px solid #86174C
    .footer 
        width 1300px
        margin 0 auto !important
        padding-bottom 10px
        display flex
        flex-direction row
        align-items flex-start
        justify-content space-between
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
            align-items center
        .dados-empresa
            display flex
            flex-direction column
            align-items flex-start
            width 25%
            padding-right 50px
            +below($tablet)
                padding-right 30px
            +mobile()
                width 90%
                padding 0 0 15px 0
                align-items center
            .logo-footer
                width 260px
                margin-bottom 35px
                +below($tablet)
                    width 90%
                    margin-bottom 25px
                +mobile()
                    width 50%
                    margin-bottom 15px
                .img-logo-footer
                    width 100%
                    object-fit contain
                    transition .3s ease
                    &:hover
                        opacity 0.7
            .link-celular
                opensans(16, bold)
                color #85807F
                margin 5px 0
                display flex
                align-items center
                +below($tablet)
                    font-size 14px
                .img-celular
                    width 16px
                    margin-right 7px
                    +below($tablet)
                        width 14px
                        margin-right 5px
                &:hover
                &:focus
                    color #86174C
            .link-telefone
                opensans(16, bold)
                color #85807F
                margin 7px 0
                display flex
                align-items center
                +below($tablet)
                    font-size 14px
                .img-telefone
                    width 16px
                    margin-right 7px
                    +below($tablet)
                        width 15px
                        margin-right 5px
                &:hover
                &:focus
                    color #86174C
            .endereco
                opensans(14)
                color #85807F
                margin 25px 0 10px 0
                width 75%
                line-height 1.3
                +below($tablet)
                    font-size 12px
                    width 85%
                +mobile()
                    width 100%
                    margin 10px 0
            .redes-sociais
                .facebook, .linkedin, .instagram
                    > img
                        width 17px
                        height 17px
                        transition transform 0.2s
                    &:hover
                        img 
                            transform rotate(360deg) scale(1.3)
        .areas-aplicacoes
            width 27%
            padding-right 50px
            +below($tablet)
                padding-right 30px
            +mobile()
                width 90%
                padding 0 0 15px 20px
            .areas-de-negocio
                display flex
                flex-direction column
                align-items flex-start
                .titulo-areas
                    opensans(14, medium)
                    color #85807F
                    margin 0 0 10px 0
                    +below($tablet)
                        font-size 12px
                        margin 0 0 8px 0
                    span
                        opensans(18)
                        color #86174C
                        margin-right 10px
                        +below($tablet)
                            font-size 16px
                            margin-right 5px
                    &.active
                        color #86174C
                        font-weight 600
                .area
                    opensans(12)
                    color #85807F
                    text-transform uppercase
                    padding 0 0 7px 15px
                    +below($tablet)
                        font-size 10px
                        padding 0 0 5px 8px
                    &:hover
                    &:focus
                        color #86174C
            .aplicacoes
                display flex
                flex-direction column
                align-items flex-start
                margin-top 30px
                +below($tablet)
                    margin-top 15px
                .titulo-aplicacoes
                    opensans(14, medium)
                    color #85807F
                    margin 0 0 10px 0
                    +below($tablet)
                        font-size 12px
                        margin 0 0 8px 0
                    span
                        opensans(18)
                        color #86174C
                        margin-right 10px
                        +below($tablet)
                            font-size 16px
                            margin-right 5px
                    &.active
                        color #86174C
                        font-weight 600
                .aplicacao
                    opensans(12)
                    color #85807F
                    text-transform uppercase
                    padding 0 0 7px 15px
                    +below($tablet)
                        font-size 10px
                        padding 0 0 5px 8px
                    &:hover
                    &:focus
                        color #86174C
        .servicos
            display flex
            flex-direction column
            align-items flex-start
            width 34%
            padding-right 50px
            +below($tablet)
                padding-right 30px
            +mobile()
                width 90%
                padding 0 0 15px 20px
            .titulo-servicos
                opensans(14, medium)
                color #85807F
                margin 0 0 10px 0
                +below($tablet)
                    font-size 12px
                    margin 0 0 8px 0
                span
                    opensans(18)
                    color #86174C
                    margin-right 10px
                    +below($tablet)
                        font-size 16px
                        margin-right 5px
                &.active
                    color #86174C
                    font-weight 600
            .grupo
                opensans(12)
                color #85807F
                text-transform uppercase
                padding 0 0 7px 15px
                +below($tablet)
                    font-size 10px
                    padding 0 0 5px 8px
                &:hover
                &:focus
                    color #86174C
        .nav-footer
            display flex
            flex-direction column
            align-items flex-start
            +mobile()
                width 90%
                padding-left 20px
            .menus-principais
                display flex
                flex-direction column
                align-items flex-start
                .link-footer
                    opensans(14)
                    color #85807F
                    margin 0 0 5px 0
                    +below($tablet)
                        font-size 12px
                        margin 0 0 3px 0
                    span
                        opensans(18)
                        color #86174C
                        margin-right 10px
                        +below($tablet)
                            font-size 16px
                            margin-right 5px
                    &:hover
                    &:focus
                    &.active
                        color #86174C
            .menus-secundarios
                display flex
                flex-direction column
                align-items flex-start
                margin-top 25px
                +below($tablet)
                    margin-top 15px
                .link-footer
                    opensans(14)
                    color #85807F
                    margin 0 0 5px 0
                    +below($tablet)
                        font-size 12px
                        margin 0 0 3px 0
                    span
                        opensans(18)
                        color #86174C
                        margin-right 10px
                        +below($tablet)
                            font-size 16px
                            margin-right 5px
                    .img-cadeado
                        width 15px
                        height 15px
                        margin-right 5px
                        +below($tablet)
                            width 13px
                            height 13px
                            margin-right 3px
                    &:hover
                    &:focus
                    &.active
                        color #86174C
    .linha-footer
        border 1px solid #AEABAA
        margin 0
    .direitos
        height 10%
        margin-top 10px
        display flex
        flex-direction row
        align-items center
        justify-content center
        opensans(10)
        color #85807F
        +below($tablet)
            font-size 9px
        +mobile()
            flex-direction column
        .link-trupe
            margin-left 3px
            &:hover
            &:focus
                color #86174C