header
    width 100%
    height auto
    margin 0
    top 0
    left 0
    position relative
    .header-topo
        width 100%
        height 40px
        background-color #85807F
        +mobile()
            height 35px !important
        .centralizado
            width 1300px
            height 100%
            margin 0 auto
            display flex
            flex-direction row
            align-items center
            justify-content flex-end
            +below($tablet)
                width 90%
            .link-celular
                montserrat(14, medium)
                color #FFF
                margin 0 35px 0 0
                display flex
                align-items center
                +mobile()
                    font-size 9px !important
                    margin 0 5px 0 0 !important
                .img-celular
                    width 16px
                    margin-right 7px
                    transition .3s ease
                    +mobile()
                        width 10px !important
                        margin-right 5px !important
                &:hover
                &:focus
                    color #86174C
                    .img-celular
                        opacity 0.6
            .redes-sociais
                display flex
                flex-direction row
                align-items center
                .facebook, .linkedin, .instagram
                    padding 2px 2.5px 0 2.5px
                    > img
                        width 16px
                        transition transform 0.2s
                    &:hover
                        img 
                            transform rotate(360deg) scale(1.3)
            .link-area-cliente
                montserrat(14, medium)
                color #FFF
                height 100%
                margin 0 0 0 15px
                padding 0 30px
                display flex
                align-items center
                transition background .3s ease
                +mobile()
                    font-size 9px !important
                    margin 0 10px 0 5px !important
                    padding 0 5px !important
                .img-cadeado
                    width 10px
                    margin-right 7px
                    +mobile()
                        width 8px !important
                        margin-right 5px !important
                &:hover
                &:focus
                &.active
                    background-color #86174C
            .link-busca
                montserrat(14, medium)
                color #FFF
                margin 0
                border-left 0.5px solid rgba(174, 171, 170, 0.6)
                padding 0 30px 0 35px
                height 70%
                display flex
                align-items center
                +mobile()
                    font-size 9px !important
                    padding 0 0 0 10px !important
                .img-lupa
                    width 17px
                    margin-left 10px
                    transition .3s ease
                    +mobile()
                        width 10px !important
                        margin-left 5px !important
                &:hover
                &:focus
                &.active
                    color #86174C
                    .img-lupa
                        opacity 0.6
        .busca-header
            width 100%
            height 120px
            position relative
            background-color #85807F
            z-index 999
            +below($tablet)
                height 100px
            > form
                width 1300px
                height 100%
                margin 0 auto
                padding 22px 0
                display flex
                flex-direction row
                align-items flex-start
                justify-content flex-end
                +below($tablet)
                    width 90%
                > input[type=text]
                    width 600px
                    height 45px
                    margin 0
                    background-color #9E9A99
                    border none
                    border-radius 0
                    outline none
                    opensans(16)
                    color #FFF
                    font-weight 600
                    font-style italic
                    padding 0 15px
                    +below($tablet)
                        width 50%
                        height 40px
                        font-size 14px
                    +mobile()
                        width 70% !important
                        font-size 8px !important
                    +placeholder()
                        opensans(16)
                        color #FFF
                        font-weight 600
                        font-style italic
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            font-size 8px !important
                .btn-buscar
                    width 140px
                    height 45px
                    margin-left 5px
                    background-color #9E9A99
                    border none
                    border-radius 0
                    opensans(16)
                    color #FFF
                    font-weight 600
                    outline none
                    cursor pointer
                    display flex
                    align-items center
                    justify-content center
                    transition .3s ease
                    +below($tablet)
                        width 15%
                        height 40px
                        font-size 14px
                    +mobile()
                        width 20% !important
                        font-size 10px !important
                    .img-btn-buscar
                        width 16px
                        margin-left 10px
                        +mobile()
                            width 12px !important
                            margin-left 5px !important
                    &:hover
                    &:focus
                        background-color #86174C
    .header-home
        width 50%
        margin-right 50%
        height 220px
        position relative
        background-color #F3F3F2
        display flex
        flex-direction row
        align-items center
        justify-content flex-end
        top 20px
        padding-right 50px
        z-index 9
        +below($tablet)
            padding 10px 10px 10px 50px
        +mobile()
            height 230px
            padding 10px 10px 10px 20px
            flex-direction column
            align-items flex-start
        .logo-home
            width 300px
            margin-right 130px
            +below($tablet)
                width 45%
                margin 0 5% 0 0
            +mobile()
                width 100%
                margin 0 0 10px 0
            .img-logo-home
                width 100%
                object-fit contain
                transition .3s ease
                &:hover
                    opacity 0.7
        nav
            +below($tablet)
                width 50% !important
            +mobile()
                width 100% !important
                bottom 10px
            div.itens-menu
                height 100%
                display flex
                flex-direction column
                align-items flex-start
                a.link-nav
                    padding 3px 0
                    margin 0
                    montserrat(16, medium)
                    color #85807F
                    position relative
                    text-transform lowercase
                    +below($tablet)
                        font-size 14px
                    +mobile()
                        font-size 13px !important
                    span
                        montserrat(16, bold)
                        color #86174C
                        margin-right 5px
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            font-size 13px !important
                    &:hover
                    &:focus 
                    &.active
                        color #86174C
    .header-paginas
        width 100%
        height 220px
        position relative
        background-color #FFF
        display flex
        flex-direction row
        top 0
        +mobile()
            height 230px !important
        .left
            width 50%
            height 100%
            position relative
            display flex
            flex-direction row
            align-items center
            justify-content flex-end
            padding-right 50px
            +below($tablet)
                padding 10px 10px 10px 50px
            +mobile()
                padding 10px 10px 10px 20px
                flex-direction column
                align-items flex-start
            .logo
                width 300px
                margin-right 130px
                +below($tablet)
                    width 45%
                    margin 0 5% 0 0
                +mobile()
                    width 100% 
                    margin 0 0 10px 0
                .img-logo
                    width 100%
                    object-fit contain
                    transition .3s ease
                    &:hover
                        opacity 0.7
            nav
                +below($tablet)
                    width 50% !important
                +mobile()
                    width 100% !important
                    bottom 10px
                div.itens-menu
                    height 100%
                    display flex
                    flex-direction column
                    align-items flex-start
                    a.link-nav
                        padding 3px 0
                        margin 0
                        montserrat(16, medium)
                        color #85807F
                        position relative
                        text-transform lowercase
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            font-size 13px !important
                        span
                            montserrat(16, bold)
                            color #86174C
                            margin-right 5px
                            +below($tablet)
                                font-size 14px
                            +mobile()
                                font-size 13px !important
                        &:hover
                        &:focus 
                        &.active
                            color #86174C
        .right
            width 50%
            height 100%
            position relative
            .img-menu
                position relative
                width 100%
                height 100%
                object-fit cover
            .overlay-escuro
                position absolute
                height 100%
                width 100%
                bottom 0
                left 0
                background-color #000000
                opacity 0.3
                z-index 99
            .sem-img-menu
                position relative
                width 100%
                height 100%
                background-color #86174C
            .sem-img-menu-cinza
                position relative
                width 100%
                height 100%
                background-color #726D6C
            .overlay-titulo
                position absolute
                montserrat(48)
                font-weight 200
                color #FFF
                text-transform uppercase
                text-shadow #313F48 0 1px 1px
                top 85px
                left 8.5%
                padding-right 10px
                display flex
                flex-direction column
                align-items flex-start
                z-index 100
                .usuario
                    montserrat(14, medium)
                    text-transform capitalize
                    text-shadow none
                    margin 10px 0 0 0
                    +mobile()
                        font-size 11px
                    .tipo-usuario
                        montserrat(12, medium)
                        margin 0 0 0 5px
                        +mobile()
                            display block
                            margin 0
                            font-size 9px
                .link-logout
                    montserrat(14, medium)
                    text-shadow none
                    margin 0
                    transition all .1s ease-in-out
                    &:hover
                        font-size 16px
                        font-weight 600
                    +mobile()
                        font-size 12px
                        margin 5px 0 0 0
                        &:hover
                            font-size 14px
                            font-weight 600
                +below($tablet)
                    font-size 34px
                    bottom 80px
                +mobile()
                    font-size 18px !important
                    bottom 110px !important
            .termos
                montserrat(44)
                font-weight 200
                +below($tablet)
                    font-size 30px
                +mobile()
                    font-size 18px !important

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 40%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin 0 -15px 0 auto
    +mobile()
        display none
    .lines
        display block
        width 100%
        height 4px
        background-color #86174C
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background-color #86174C
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            display block
            background transparent
            z-index 9999
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
        .lines-home
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

.aviso-cookies
    display flex
    width 100%
    margin 0
    flex-direction row
    align-items center
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 999
    padding 30px
    +mobile()
        flex-direction column
        align-items center
        padding 20px 
    .frase-cookies
        width 65%
        opensans(14)
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
        +below($tablet)
            font-size 12px
        +mobile()
            width 100%
            text-align center
    .aceitar-cookies
        width 15%
        height 40px
        opensans(14)
        color #FFF
        background-color transparent 
        border 1px solid #FFF
        border-radius 0
        margin-left 30px
        cursor pointer
        outline none
        &:hover
        &:focus
            background-color #FFF
            color #86174C
        +below($tablet)
            font-size 12px
            height 30px
        +mobile()
            width 100%
            text-align center
            margin-left 0
            margin-top 10px