html
body
    height 100%
    font-family 'Montserrat', 'Open Sans', 'Helvetica', 'Arial', sans-serif
body
    background-color #FFF
    margin 0
    padding 0
    overflow-x hidden
    position relative
