section.ac-admin
    width 100%
    width 100%
    height auto
    min-height calc("100% - 260px - 400px")
    margin 0
    padding 0
    position relative
    background-color #F3F3F3
    +below($tablet)
        min-height calc("100% - 260px - 340px")
    +mobile()
        min-height calc("100% - 260px - 940px")
    .centralizado
        width 1300px
        margin 0 auto
        padding 30px 0 70px 0
        +below($tablet)
            width 90%
        h2.titulo
            montserrat(28, light)
            color #86174C
            margin 0 0 30px 0
            line-height 1.3
            +below($tablet)
                font-size 20px
            +mobile()
                font-size 16px
                margin 0 0 20px 0
        .btns-home-admin
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content center
            +mobile()
                flex-direction column
            .link-obras, .link-clientes, .link-usuarios
                width 25%
                height 100px
                margin 0 30px
                background-color #85807F
                opensans(18, medium)
                color #FFF
                display flex
                align-items center
                justify-content center
                transition background .5s ease-in-out
                +below($tablet)
                    height 80px
                    margin 0 20px
                    font-size 14px
                +mobile()
                    width 70%
                    height 65px
                    margin 10px 0
                &:hover
                    background-color #86174C
        .btns-admin
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content flex-start
            margin-bottom 30px
            +mobile()
                flex-direction column
            .link-obras, .link-clientes, .link-usuarios
                min-width 200px
                height 40px
                padding 0 15px
                margin 0 5px 0 0
                background-color #85807F
                opensans(16, medium)
                color #FFF
                display flex
                align-items center
                justify-content center
                transition background .5s ease-in-out
                +below($tablet)
                    min-width 20%
                    height 35px
                    font-size 14px
                +mobile()
                    font-size 10px
                    text-align center
                    padding 0 10px
                    width 50%
                    margin 0 0 5px 0
                &:hover
                &.active
                    background-color #86174C
        .ac-obras, .ac-documentos, .ac-versoes, .ac-empresas, .ac-gerentes, .ac-usuarios
            width 100%
            .voltar-e-adicionar
                display flex
                align-items center
                justify-content flex-end
            .link-adicionar, .link-voltar
                width auto
                height 40px
                padding 0 20px
                margin 0 0 0 5px
                background-color #85807F
                opensans(14, medium)
                color #FFF
                float right
                display flex
                align-items center
                transition background .5s ease-in-out
                +below($tablet)
                    height 35px
                    padding 0 15px
                    font-size 12px
                +mobile()
                    height 30px
                    font-size 10px
                    padding 0 10px
                .img-mais, .img-voltar
                    width 20px
                    height 20px
                    background-color #86174C
                    border-radius 50%
                    padding 5px
                    margin-right 10px
                    transition background .5s ease-in-out
                    +below($tablet)
                        width 18px
                        height 18px
                    +mobile()
                        width 16px
                        height 16px
                        padding 4px
                .img-voltar
                    transform rotate(180deg)
                &:hover
                    background-color #86174C
                    .img-mais, .img-voltar
                        background-color #85807F
            .lista-resultados
                width 100%
                padding-top 50px
                display flex
                flex-direction column
                align-items flex-start
                +below($tablet)
                    padding-top 40px
                +mobile()
                    padding-top 20px
                .nenhum-resultado
                    opensans(16)
                    color #85807F
                    margin 0
                    +below($tablet)
                        font-size 14px
                .handle-ordem
                    width 40px
                    height 40px
                    margin 0 10px 10px 0
                    display flex
                    align-items center
                    justify-content center
                    +below($tablet)
                        width 35px
                        height 35px
                    +mobile()
                        width 30px
                        height 30px
                    .btn-ordem
                        display block
                        width 100%
                        height 100%
                        border-radius 50%
                        text-indent -9999px
                        background $img('ico-mover.png') no-repeat center/21px 21px #85807F
                        transition background .5s ease-in-out
                        +below($tablet)
                            background $img('ico-mover.png') no-repeat center/19px 19px #85807F
                        +mobile()
                            background $img('ico-mover.png') no-repeat center/16px 16px #85807F
                        &:hover
                            background-color #86174C
                .obra, .documento, .versao, .empresa, .gerente, .gerente-obras, .usuario
                    width 100%
                    height auto
                    display flex
                    flex-direction row
                    align-items center
                    padding 10px 20px
                    margin 0 0 10px 0
                    background-color #FFF
                    +below($tablet)
                        padding 10px 15px
                    +mobile()
                        flex-wrap wrap
                        justify-content flex-start
                    .icone-local
                        width 40px
                        height 40px
                        padding 10px
                        background-color #E9E8E8
                        border-radius 50%
                        +below($tablet)
                            width 30px
                            height 30px
                            padding 7px
                        +mobile()
                            width 25px
                            height 25px
                            padding 6px
                    div.icone-pdf
                        width 45px
                        height 45px
                        padding 10px
                        background-color #E9E8E8
                        border-radius 50%
                        +below($tablet)
                            width 35px
                            height 35px
                            padding 8px
                        +mobile()
                            width 25px
                            height 25px
                            padding 6px
                        .img-pdf
                            width 100%
                            height auto
                            max-height 100%
                            object-fit contain
                    .titulo-obra, .titulo-documento, .titulo-versao, .nome-empresa, .nome-gerente, .titulo-obra-g, .nome-usuario, .email-usuario
                        montserrat(18, bold)
                        color #85807F
                        margin 0 0 0 20px
                        text-transform uppercase
                        overflow-wrap break-word
                        +below($tablet)
                            font-size 14px
                            margin 0 0 0 15px
                        +mobile()
                            width calc("100% - 15px - 25px")
                            font-size 12px
                    .email-usuario
                        text-transform lowercase
                    .titulo-documento, .titulo-versao
                        width 40%
                        max-width 40%
                        font-size 16px
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            width calc("100% - 15px - 25px")
                            max-width 100%
                            font-size 12px
                    .nome-empresa, .nome-gerente, .titulo-obra-g, .nome-usuario
                        margin 0
                    .localizacao, .cnpj, .telefone, .ativo, .localizacao-g, .email, .codigo-obra
                        opensans(14, medium)
                        color #85807F
                        margin 0 0 0 20px
                        +below($tablet)
                            font-size 12px 
                        +mobile()
                            width 100%
                            font-size 10px
                            margin 0 0 0 40px
                    .cnpj, .telefone, .ativo, .localizacao-g, .email
                        +mobile()
                            margin 0
                    .codigo-obra
                        font-weight 600
                    .descricao-documento
                        max-width 40%
                        margin 0 30px
                        opensans(14)
                        color #85807F
                        +below($tablet)
                            font-size 12px
                            margin 0 20px
                        +mobile()
                            width 100%
                            max-width 100%
                            font-size 11px
                            margin 0 0 0 40px
                    .n-versao
                        width auto
                        opensans(14, medium)
                        color #85807F
                        margin 0 20px
                        +below($tablet)
                            font-size 12px
                        +mobile()
                            font-size 11px
                            width 100%
                            margin 0 0 0 40px
                    .link-arquivo
                        opensans(14, medium)
                        color #85807F
                        margin 0
                        +below($tablet)
                            font-size 12px
                        +mobile()
                            font-size 11px
                            width 100%
                            margin 5px 0 0 40px
                        &:hover
                            color #86174C
                    .btns-gerenciamentos
                        display flex
                        flex-direction row
                        align-items center
                        justify-content center
                        margin 0 0 0 auto
                        +mobile()
                            margin 15px 0 0 0
                            width 100%
                            justify-content flex-end
                        .btns-icones
                            display flex
                            flex-direction row
                            align-items center
                            justify-content center
                            border-left 1px solid #86174C
                            padding-left 10px
                            +below($tablet)
                                padding-left 7px
                            .link-editar, .link-excluir
                                width 40px
                                height 40px
                                padding 10px
                                background-color #85807F
                                border-radius 50%
                                margin 0 5px
                                display flex
                                align-items center
                                justify-content center
                                transition background .5s ease-in-out
                                +below($tablet)
                                    width 35px
                                    height 35px
                                +mobile()
                                    width 30px
                                    height 30px
                                    padding 8px
                                .img-editar, .img-excluir
                                    width 100%
                                    height auto
                                    object-fit contain
                                &:hover
                                    background-color #86174C
                        .link-documentos-obra, .link-versoes-obra, .link-gerentes, .link-gerentes-obras, .link-gerentes-usuarios, .link-comunicacao-obra
                            width auto
                            height 40px
                            padding 0 15px
                            background-color #85807F
                            margin 0 20px 0 0
                            opensans(12, medium)
                            color #FFF
                            display flex
                            align-items center
                            transition background .5s ease-in-out
                            +below($tablet)
                                height 35px
                                margin 0 15px 0 0
                                font-size 11px
                            +mobile()
                                height 30px
                                font-size 10px
                            &:hover
                                background-color #86174C
                .versao, .gerente-obras, .usuario
                    .btns-gerenciamentos
                        .btns-icones
                            border none
                .documento
                    width calc("100% - 50px")
                    +below($tablet)
                        width calc("100% - 45px")
                    +mobile()
                        width calc("100% - 40px")
            .form-obra, .form-doc, .form-versao, .form-empresa, .form-gerente, .form-usuario
                width 100%
                display flex
                flex-direction column
                align-items flex-start
                label
                    opensans(18, medium)
                    color #85807F
                    margin 20px 0 10px 0
                    +below($tablet)
                        font-size 14px
                        margin 15px 0 7px 0
                    +mobile()
                        font-size 12px
                        margin 10px 0 5px 0
                input[type=text]
                input[type=email]
                textarea
                .select-obras
                    margin 0
                    width 100%
                    height 50px
                    padding 0 20px
                    border none
                    outline none
                    opensans(16)
                    color #85807F
                    background-color #FFF
                    transition .3s ease
                    +below($tablet)
                        font-size 14px
                        height 40px
                        padding 0 15px
                    +mobile()
                        font-size 12px
                        height 35px
                    &:hover
                    &:focus
                        font-weight 600
                textarea
                    height 120px
                    padding 20px
                    resize none
                    +below($tablet)
                        height 90px
                        padding 15px
                    +mobile()
                        padding 10px 15px
                input[type=file]
                    width 100%
                    height 50px
                    padding 13px 20px
                    margin 0
                    border none
                    outline none
                    opensans(14)
                    color #85807F
                    background-color #FFF
                    transition .3s ease
                    +below($tablet)
                        height 40px
                        font-size 12px
                        padding 10px 15px
                    +mobile()
                        height 35px
                        font-size 10px
                    &:hover
                        font-weight 600
                .link-arquivo
                    opensans(14, medium)
                    color #85807F
                    margin 10px 0
                    +below($tablet)
                        font-size 12px
                        margin 5px 0
                    +mobile()
                        font-size 11px
                    &:hover
                        color #86174C
                .info-senha
                    width 100%
                    opensans(16, bold)
                    color #85807F
                    margin 20px 0 0 0
                    +below($tablet)
                        font-size 14px
                        margin 15px 0 0 0
                    +mobile()
                        font-size 12px
                    span
                        color #86174C
                        text-decoration underline
                .select-obras
                    appearance none
                    background $img("seta-dupla-abaixo-cinza.svg") no-repeat 98% #FFF
                    background-size 10px
                    option
                        opensans(16)
                        color #85807F
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            font-size 12px
                button[type=submit]
                    margin 30px 0 0 0
                    min-width 25%
                    height 50px
                    border none
                    outline none
                    cursor pointer
                    opensans(18, bold)
                    color #FFF
                    background-color #85807F
                    transition background 0.5s ease-in-out
                    +below($tablet)
                        font-size 14px
                        height 40px
                        margin 25px 0 0 0
                    +mobile()
                        font-size 12px
                        height 35px
                        margin 20px 0 0 0
                        min-width 30%
                    &:hover
                        background-color #86174C
        .ac-documentos
            width 100%
        .lista-comunicacoes
            .header-comunicacoes
                display flex
                align-items center
                justify-content flex-start
                margin 45px 0 40px 0
                +below($tablet) 
                    margin 40px 0 30px 0
                +mobile()
                    margin 30px 0
                    flex-wrap wrap
                .link-voltar
                    width 120px
                    height 40px
                    margin 0 25px 0 0
                    opensans(16, bold)
                    color #86174C
                    background-color #FFF
                    border 1px solid #86174C
                    display flex
                    align-items center
                    justify-content center
                    transition all 0.5s ease-in-out
                    +below($tablet)
                        height 30px
                        margin 0 20px 0 0
                        font-size 12px
                    +mobile()
                        width 100%
                        height 25px
                        font-size 10px
                        margin 0 0 10px 0
                    &:hover
                        color #FFF
                        background-color #86174C
                .subtitulo
                    montserrat(24, light)
                    color #85807F
                    text-transform uppercase
                    margin 0
                    > span
                        color #86174C
                    +below($tablet)
                        font-size 18px
                    +mobile()
                        width 100%
                        font-size 16px
            .form-comunicacao
                width 690px
                height 180px
                margin 0 auto
                position relative
                border 1px solid #85807F
                +below($tablet)
                    width 60%
                    height 130px
                +mobile()
                    width 100%
                textarea
                    margin 0
                    width 100%
                    height 100%
                    padding 15px 20px
                    border none
                    outline none
                    resize none
                    opensans(16)
                    color #85807F
                    background-color #FFF
                    position relative
                    transition .3s ease
                    +below($tablet)
                        font-size 14px
                        padding 15px
                    +mobile()
                        font-size 12px
                    &:hover
                    &:focus
                        font-weight 600
                button[type=submit]
                    position absolute
                    right 0
                    bottom 0
                    margin 0
                    width 120px
                    height 30px
                    border none
                    outline none
                    cursor pointer
                    opensans(14, bold)
                    color #FFF
                    background-color #86174C
                    transition background 0.5s ease-in-out
                    +below($tablet)
                        width 100px
                        font-size 12px
                    +mobile()
                        font-size 10px
                        height 25px
                    &:hover
                        background-color #85807F
            .comunicacoes
                margin 50px 0
                +below($tablet)
                    margin 40px 0
                +mobile()
                    margin 30px 0
                .comunicacao
                    width 690px
                    height auto
                    padding 15px 20px
                    border 1px solid #85807F
                    background-color #FFF
                    position relative
                    +below($tablet)
                        width 60%
                        padding 15px
                    +mobile()
                        width 80%
                    .empresa
                        montserrat(12)
                        font-weight 600
                        color #86174C
                        text-transform uppercase
                        margin 0 0 5px 0
                        +below($tablet)
                            font-size 10px
                    .texto-msg
                        opensans(16)
                        color #85807F
                        margin 0
                        line-height 1.5
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            font-size 12px
                    .data-msg
                        montserrat(10)
                        font-weight 600
                        color #86174C
                        margin 10px 0
                        +below($tablet)
                            font-size 9px
                            margin 5px 0
                .comunicacao.left
                    margin 0 auto 30px 0
                    +below($tablet)
                        margin 0 auto 20px 0
                    .link-excluir-comunicacao
                        position absolute
                        right -30px
                        bottom 0
                        .img-excluir
                            width 16px
                            height auto
                            object-fit contain
                            transition transform .3s
                            +below($tablet)
                                width 14px
                        &:hover
                            .img-excluir
                                transform rotate(360deg) scale(1.2)
                .comunicacao.right
                    margin 0 0 30px auto
                    +below($tablet)
                        margin 0 0 20px auto

.flash
    display flex
    align-items center
    justify-content center
    margin 0
    width 100%
    height 40px
    opensans(14, medium)
    padding 5px 10px
    border-radius 0
    margin 10px 0
    > p
        margin 0
    &.flash-error
        border 2px solid $vermelho
        background $vermelho
        color #fff
    &.flash-success
        border 2px solid $verde
        background $verde
        color #fff
    +below($tablet)
        font-size 12px
        height 35px
    +mobile()
        height 30px
        font-size 10px