section.ac-clientes
    width 100%
    width 100%
    height auto
    min-height calc("100% - 260px - 400px")
    margin 0
    padding 0
    position relative
    background-color #F3F3F3
    +below($tablet)
        min-height calc("100% - 260px - 340px")
    +mobile()
        min-height calc("100% - 260px - 940px")
    .centralizado
        width 1300px
        margin 0 auto
        padding 30px 0 70px 0
        position relative
        +below($tablet)
            width 90%
        h2.titulo
            montserrat(28, light)
            color #86174C
            margin 0 0 20px 0
            line-height 1.3
            +below($tablet)
                font-size 20px
            +mobile()
                font-size 16px
                margin 0 0 20px 0
        .btns-clientes
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content flex-start
            margin-bottom 25px
            +mobile()
                flex-direction column
            .link-identificacao, .link-documentos
                min-width 200px
                height 40px
                padding 0 15px
                margin 0 5px 0 0
                background-color #85807F
                opensans(16, medium)
                color #FFF
                display flex
                align-items center
                justify-content center
                transition background .5s ease-in-out
                +below($tablet)
                    min-width 20%
                    height 35px
                    font-size 14px
                +mobile()
                    font-size 10px
                    text-align center
                    padding 0 10px
                    width 50%
                    margin 0 0 5px 0
                &:hover
                &.active
                    background-color #86174C
        .form-busca-documentos
            width 400px
            height 40px
            background-color #fff
            border 1px solid #86174C
            position absolute
            top 86px
            right 0
            display flex
            +below($tablet)
                top 76px
                width 35%
                height 35px
            +mobile()
                position relative
                top 0
                width 100%
            .input-busca
                width calc("100% - 40px")
                height 100%
                padding 0 20px
                outline none
                border none
                background-color #FFF
                montserrat(14, bold)
                color #86174C
                +below($tablet)
                    width calc("100% - 35px")
                    padding 0 15px
                    font-size 12px
                +placeholder()
                    color #86174C
                    background-color #FFF
            .btn-buscar
                width 40px
                height 100%
                padding 10px
                outline none
                border none
                cursor pointer
                background-color #FFF
                +below($tablet)
                    width 35px
                    padding 9px
                .img-lupa
                    width 100%
                    height 100%
                    object-fit contain
                    transition transform .3s
                &:hover
                    .img-lupa
                        transform rotate(360deg) scale(1.2)
        .form-ativar-cadastro, .form-alterar-senha
            width 100%
            display flex
            flex-direction column
            align-items flex-start
            label
                opensans(18, medium)
                color #85807F
                margin 20px 0 10px 0
                +below($tablet)
                    font-size 14px
                    margin 15px 0 7px 0
                +mobile()
                    font-size 12px
                    margin 10px 0 5px 0
            input[type=text]
            input[type=email]
            input[type=password]
                margin 0
                width 100%
                height 50px
                padding 0 20px
                border none
                outline none
                opensans(16)
                color #85807F
                background-color #FFF
                transition .3s ease
                +below($tablet)
                    font-size 14px
                    height 40px
                    padding 0 15px
                +mobile()
                    font-size 12px
                    height 35px
                &:hover
                &:focus
                    font-weight 600
            button[type=submit]
                margin 30px 0 0 0
                min-width 25%
                height 50px
                border none
                outline none
                cursor pointer
                opensans(18, bold)
                color #FFF
                background-color #85807F
                transition background 0.5s ease-in-out
                +below($tablet)
                    font-size 14px
                    height 40px
                    margin 25px 0 0 0
                +mobile()
                    font-size 12px
                    height 35px
                    margin 20px 0 0 0
                    min-width 30%
                &:hover
                    background-color #86174C
        .gerentes, .usuarios
            width 100%
            height auto
            display flex
            flex-direction row
            align-items flex-start
            justify-content space-between
            +mobile()
                flex-direction column
                align-items center
            .form-edit-gerente, .form-edit-usuario
                width 50%
                padding-right 30px
                +mobile()
                    width 100%
                    padding-right 0
                    margin-bottom 30px
                .label-input
                    width 100%
                    display flex
                    align-items center
                    margin 0 0 5px 0
                    label
                        width 20%
                        opensans(12)
                        color #85807F
                        padding 0 10px 0 0
                        text-align right
                        +below($tablet)
                            font-size 10px
                            padding 0 5px 0 0
                    input[type=text]
                    input[type=email]
                    input[type=password]
                        margin 0
                        width 80%
                        height 35px
                        padding 0 10px
                        border none
                        outline none
                        opensans(16)
                        color #85807F
                        background-color #FFF
                        transition .3s ease
                        &:read-only
                            background-color #E9E8E8
                        +below($tablet)
                            font-size 12px
                            height 30px
                        &:hover
                        &:focus
                            font-weight 600
                .linha-form-cliente
                    width 100%
                    border 1px solid #86174C
                    margin 20px 0 15px 0
                    +below($tablet)
                        margin 15px 0 10px 0
                .alterar-senha
                    opensans(16)
                    color #86174C
                    margin 0 0 10px 0
                    +below($tablet)
                        font-size 12px
                        margin 0 0 5px 0
                button[type=submit]
                    margin 15px 0 0 0
                    width 250px
                    height 35px
                    border none
                    outline none
                    cursor pointer
                    opensans(16, bold)
                    color #FFF
                    background-color #86174C
                    float right
                    transition background 0.5s ease-in-out
                    +below($tablet)
                        font-size 12px
                        width 45%
                        height 30px
                    &:hover
                        background-color #85807F
            .gerente-usuarios, .usuario-obras
                width 50%
                padding 30px
                border 1px solid #86174C
                +below($tablet)
                    padding 25px
                +mobile()
                    width 100%
                    padding 20px
                .titulo-cadastro
                    montserrat(16)
                    color #86174C
                    margin 0 0 5px 0
                    text-transform uppercase
                    +below($tablet)
                        font-size 13px
                    +mobile()
                        font-size 12px
                .descricao-cadastro
                    opensans(14)
                    color #85807F
                    margin 0 0 15px 0
                    line-height 1.3
                    +below($tablet)
                        font-size 12px
                        margin 0 0 10px 0
                select.obras-cadastro
                    margin 0 0 10px 0
                    width 100%
                    height 35px
                    padding 0 10px
                    border 1px solid #86174C
                    outline none
                    opensans(16)
                    color #85807F
                    background-color #FFF
                    appearance none
                    background $img("seta-dupla-abaixo-vinho.svg") no-repeat 98%/10px #FFF
                    transition all 0.3s ease-in-out
                    +below($tablet)
                        font-size 12px
                        height 30px
                        background $img("seta-dupla-abaixo-vinho.svg") no-repeat 97%/8px #FFF
                    +mobile()
                        font-size 10px
                    &:hover
                        color #86174C
                .form-add-usuario
                    width 100%
                    display flex
                    align-items center
                    input[type=email]
                        margin 0 5px 0 0
                        width calc("100% - 23% - 5px")
                        height 35px
                        padding 0 10px
                        border none
                        outline none
                        opensans(16)
                        color #85807F
                        background-color #FFF
                        transition .3s ease
                        &:read-only
                            background-color #E9E8E8
                        +below($tablet)
                            font-size 12px
                            height 30px
                        +mobile()
                            width calc("100% - 30% - 5px")
                            font-size 11px
                        &:hover
                        &:focus
                            font-weight 600
                    .btn-adicionar
                        width 23%
                        height 35px
                        margin 0
                        border none
                        outline none
                        cursor pointer
                        opensans(16, bold)
                        color #FFF
                        background-color #86174C
                        float right
                        transition background 0.5s ease-in-out
                        +below($tablet)
                            font-size 12px
                            height 30px
                        +mobile()
                            width 30%
                            font-size 10px
                        &:hover
                            background-color #85807F
                .usuarios-gerente-obra
                    width 100%
                    margin 45px 0 0 0
                    +below($tablet)
                        margin 35px 0 0 0
                    .dados-usuario
                        width 100%
                        height 35px
                        margin 0 0 5px 0
                        display flex
                        align-items center
                        +below($tablet)
                            height 30px
                        .email-usuario
                            margin 0 5px 0 0
                            width calc("100% - 10px - 100px - 35px")
                            height 35px
                            padding 0 10px
                            opensans(16)
                            color #85807F
                            background-color #FFF
                            display flex
                            align-items center
                            +below($tablet)
                                width calc("100% - 10px - 20% - 30px")
                                height 30px
                                font-size 12px
                            +mobile()
                                font-size 11px
                        .situacao-usuario
                            margin 0 5px 0 0
                            width 100px
                            height 35px
                            opensans(12)
                            color #85807F
                            background-color #DFDEDE
                            display flex
                            align-items center
                            justify-content center
                            +below($tablet)
                                width 20%
                                height 30px
                                font-size 10px
                        .link-excluir-usuario
                            width 35px
                            height 35px
                            margin 0
                            border none
                            outline none
                            background-color #86174C
                            display flex
                            align-items center
                            justify-content center
                            transition background 0.5s ease-in-out
                            +below($tablet)
                                width 30px
                                height 30px
                            &:hover
                                background-color #85807F
                .lista-obras
                    montserrat(16)
                    color #86174C
                    margin 30px 0 10px 0
                    +below($tablet)
                        font-size 13px
                    +mobile()
                        font-size 12px
                .titulo-obra
                    opensans(14, bold)
                    color #85807F
                    margin 0 0 5px 0
                    line-height 1.3
                    text-transform uppercase
                    +below($tablet)
                        font-size 12px
        .lista-obras-documentos
            .subtitulo
                montserrat(24, light)
                color #85807F
                margin 50px 0 0 0
                +below($tablet)
                    margin 30px 0 0 0
                    font-size 18px
                +mobile()
                    font-size 16px
            .obra-documentos
                width 100%
                height auto
                display flex
                flex-direction row
                align-items flex-start
                justify-content space-between
                border-bottom 1px solid #86174C
                padding 20px 0 10px 0
                +mobile()
                    flex-direction column
                    align-items center
                .obra
                    width 42%
                    height 130px
                    margin 0 10px 0 0
                    padding 0 20px
                    background-color #FFF
                    display flex
                    flex-direction row
                    align-items center
                    justify-content flex-start
                    +below($tablet)
                        height 100px
                    +mobile()
                        width 100%
                        height 80px
                        margin 0
                        padding 0 15px
                    .img-obra
                        width 80px
                        height 80px
                        background-color #E9E8E8
                        border-radius 50%
                        padding 20px
                        +below($tablet)
                            width 60px
                            height 60px
                            padding 16px
                        +mobile()
                            width 50px
                            height 50px
                            padding 14px
                        .icone-local
                            width 100%
                            height 100%
                            object-fit contain
                    .dados-obra
                        margin-left 30px
                        +below($tablet)
                            margin-left 20px
                        .titulo-obra
                            montserrat(20, medium)
                            color #85807F
                            text-transform uppercase
                            margin 0
                            +below($tablet)
                                font-size 16px
                            +mobile()
                                font-size 14px
                        .localizacao
                            opensans(14, medium)
                            color #85807F
                            margin 0
                            +below($tablet)
                                font-size 12px
                            +mobile()
                                font-size 10px
                .documentos
                    width calc("100% - 42% - 10px - 10px - 30px")
                    height 130px
                    background-color #FFF
                    margin 0 10px 0 0
                    padding 10px 30px
                    display flex
                    flex-direction column
                    align-items flex-start
                    justify-content center
                    +below($tablet)
                        height 100px
                        padding 10px 20px
                    +mobile()
                        width 100%
                        height auto
                        padding 10px 15px
                        margin 0
                    .ultimo-doc
                        montserrat(10)
                        font-weight 600
                        color #86174C
                        margin 0 0 5px 0
                        +below($tablet)
                            font-size 9px
                    .documento
                        opensans(16, medium)
                        color #85807F
                        margin 0
                        +below($tablet)
                            font-size 13px
                            line-height 1.3
                        +mobile()
                            font-size 12px
                .link-ver-docs
                    width 30px
                    height 130px
                    background-color #86174C
                    display flex
                    align-items center
                    justify-content center
                    transition background 0.5s ease-in-out
                    +below($tablet)
                        height 100px
                    +mobile()
                        width 100%
                        height 40px
                    .icone-seta
                        width 12px
                        height auto
                        object-fit contain
                        +below($tablet)
                            width 10px
                        +mobile()
                            width 6px
                    &:hover
                        background-color #85807F
        .lista-documentos-versoes
            .subtitulo
                montserrat(24, light)
                color #85807F
                text-transform uppercase
                margin 50px 0 0 0
                +below($tablet)
                    margin 30px 0 0 0
                    font-size 18px
                +mobile()
                    font-size 16px
            .link-comunicacao
                width 320px
                height 45px
                margin 15px auto 10px 0
                opensans(14, bold)
                color #86174C
                background-color #FFF
                border 1px solid #86174C
                padding-right 30px
                background $img("areacliente-icone-aviao.svg") no-repeat 93% #FFF
                display flex
                align-items center
                justify-content center
                transition all 0.5s ease-in-out
                &:hover
                    color #FFF
                    background-color #86174C
                    background $img("areacliente-icone-aviao-branco.svg") no-repeat 93% #86174C
                +below($tablet)
                    width 30%
                    height 35px
                    font-size 12px
                    background $img("areacliente-icone-aviao.svg") no-repeat 90%/14px #FFF
                    +mobile()
                        width 100% !important
                    &:hover
                        background $img("areacliente-icone-aviao-branco.svg") no-repeat 90%/14px #86174C
            .documento-versoes
                width 100%
                height auto
                display flex
                flex-direction row
                align-items flex-start
                justify-content space-between
                border-bottom 1px solid #86174C
                padding 20px 0 10px 0
                +mobile()
                    flex-direction column
                .documento
                    width 42%
                    height 130px
                    margin 0 10px 0 0
                    padding 10px 20px
                    background-color #FFF
                    display flex
                    flex-direction row
                    align-items center
                    justify-content flex-start
                    +below($tablet)
                        height 120px
                        padding 10px 15px
                    +mobile()
                        width 100%
                        height auto
                        margin 0
                    .img-pdf
                        width 80px
                        height 80px
                        background-color #E9E8E8
                        border-radius 50%
                        padding 20px
                        +below($tablet)
                            width 60px
                            height 60px
                            padding 16px
                        +mobile()
                            width 50px
                            height 50px
                            padding 14px
                        .icone-pdf
                            width 100%
                            height 100%
                            object-fit contain
                    .dados-documento
                        margin-left 30px
                        width calc("100% - 30px - 80px")
                        +below($tablet)
                            margin-left 20px
                            width calc("100% - 20px - 60px")
                        +mobile()
                            width calc("100% - 20px - 50px")
                        .titulo-doc
                            montserrat(16, medium)
                            color #85807F
                            text-transform uppercase
                            overflow-wrap break-word
                            margin 0
                            +below($tablet)
                                font-size 14px
                        .texto-doc
                            opensans(14, medium)
                            color #85807F
                            margin 0
                            line-height 1.5
                            +below($tablet)
                                font-size 11px
                            +mobile()
                                font-size 10px
                .versoes
                    width calc("100% - 42% - 10px - 10px - 130px - 50px")
                    height 130px
                    background-color #FFF
                    padding 10px 0 10px 20px
                    display flex
                    flex-direction column
                    align-items flex-start
                    justify-content center
                    +below($tablet)
                        width calc("100% - 42% - 10px - 10px - 100px - 30px")
                        height 120px
                        padding 10px 0 10px 15px
                    +mobile()
                        width 100%
                        height auto
                        padding 10px
                    .total-documentos
                        opensans(14, bold)
                        color #85807F
                        margin 0 0 0 10px
                        +below($tablet)
                            font-size 12px
                            margin 0 0 0 5px
                        +mobile()
                            font-size 10px
                    .linha-versoes
                        width 100%
                        margin 10px 0 15px 0
                        +below($tablet)
                            margin 5px 0 10px 0
                    .ultimo-doc
                        montserrat(10)
                        font-weight 600
                        color #86174C
                        margin 0 0 5px 10px
                        +below($tablet)
                            font-size 9px
                            margin 0 0 5px 5px
                    .doc
                        opensans(16, medium)
                        color #85807F
                        margin 0 0 0 10px
                        +below($tablet)
                            font-size 13px
                            margin 0 0 0 5px
                        +mobile()
                            font-size 12px
                .link-download-versao
                    width 130px
                    height 130px
                    margin 0 10px 0 0
                    padding 0 20px
                    montserrat(12, medium)
                    color #FFF
                    text-align center
                    line-height 1.3
                    background-color #85807F
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    transition background 0.5s ease-in-out
                    +below($tablet)
                        width 100px
                        height 120px
                        padding 0 10px
                        font-size 10px
                    +mobile()
                        width 100%
                        height 50px
                        margin 0
                    .icone-download
                        width auto
                        height auto
                        margin-top 10px
                        object-fit contain
                        +below($tablet)
                            width 26px
                        +mobile()
                            width 22px
                            margin-top 5px
                    &:hover
                        background-color #86174C
                .link-documento-versoes
                    width 50px
                    height 130px
                    background-color #86174C
                    display flex
                    align-items center
                    justify-content center
                    transition background 0.5s ease-in-out
                    +below($tablet)
                        width 30px
                        height 120px
                    +mobile()
                        width 100%
                        height 30px
                    .icone-mais
                        width 12px
                        height auto
                        object-fit contain
                        +below($tablet)
                            width 10px
                    &:hover
                        background-color #85807F
        .lista-versoes-documento
            .subtitulo
                montserrat(24, light)
                color #85807F
                text-transform uppercase
                margin 50px 0 25px 0
                +below($tablet)
                    margin 30px 0 20px 0
                    font-size 18px
                +mobile()
                    font-size 16px
            .doc-versoes
                width 100%
                height auto
                display flex
                align-items flex-start
                +mobile()
                    flex-direction column
                .left-documento
                    width 42%
                    height auto
                    margin 0 10px 0 0
                    +mobile()
                        width 100%
                        margin 0
                    .link-voltar-documentos
                        width 100%
                        height 40px
                        margin 0 0 10px 0
                        opensans(16, bold)
                        color #86174C
                        background-color #FFF
                        border 1px solid #86174C
                        padding 0 20px
                        display flex
                        align-items center
                        justify-content flex-start
                        transition all 0.5s ease-in-out
                        +below($tablet)
                            height 30px
                            font-size 12px
                            padding 0 15px
                        +mobile()
                            width 100%
                            font-size 10px
                        &:hover
                            color #FFF
                            background-color #86174C
                    .documento
                        width 100%
                        height 130px
                        margin 0 10px 0 0
                        padding 10px 20px
                        background-color #FFF
                        display flex
                        flex-direction row
                        align-items center
                        justify-content flex-start
                        +below($tablet)
                            height 120px
                            padding 10px 15px
                        +mobile()
                            width 100%
                            height auto
                            margin 0
                        .img-pdf
                            width 80px
                            height 80px
                            background-color #E9E8E8
                            border-radius 50%
                            padding 20px
                            +below($tablet)
                                width 60px
                                height 60px
                                padding 16px
                            +mobile()
                                width 50px
                                height 50px
                                padding 14px
                            .icone-pdf
                                width 100%
                                height 100%
                                object-fit contain
                        .dados-documento
                            margin-left 30px
                            width calc("100% - 30px - 80px")
                            +below($tablet)
                                margin-left 20px
                                width calc("100% - 20px - 60px")
                            +mobile()
                                width calc("100% - 20px - 50px")
                            .titulo-doc
                                montserrat(16, medium)
                                color #85807F
                                text-transform uppercase
                                overflow-wrap break-word
                                margin 0
                                +below($tablet)
                                    font-size 14px
                            .texto-doc
                                opensans(14, medium)
                                color #85807F
                                margin 0
                                line-height 1.5
                                +below($tablet)
                                    font-size 11px
                                +mobile()
                                    font-size 10px
                    .total-documentos
                        opensans(14, bold)
                        color #85807F
                        margin 25px 0 0 0
                        +below($tablet)
                            font-size 12px
                            margin 20px 0 0 0
                        +mobile()
                            margin 10px 0
                .right-versoes
                    width calc("100% - 42% - 10px")
                    height auto
                    +mobile()
                        width 100%
                    .versao
                        width 100%
                        height 80px
                        display flex
                        margin 0 0 10px 0
                        +below($tablet)
                            height 60px
                        +mobile()
                            height 50px
                        .dados-versao
                            width calc("100% - 80px")
                            height 100%
                            background-color #FFF
                            padding 0 30px
                            display flex
                            flex-direction column
                            align-items flex-start
                            justify-content center
                            +below($tablet)
                                width calc("100% - 60px")
                                padding 0 20px
                            +mobile()
                                width calc("100% - 50px")
                                padding 0 15px
                            .data
                                montserrat(10)
                                font-weight 600
                                color #86174C
                                margin 0 0 5px 0
                                +below($tablet)
                                    font-size 9px
                                +mobile()
                                    margin 0
                            .nome
                                opensans(16, medium)
                                color #85807F
                                margin 0
                                +below($tablet)
                                    font-size 13px
                                +mobile()
                                    font-size 12px
                        .link-download-versao
                            width 80px
                            height 100%
                            background-color #85807F
                            display flex
                            align-items center
                            justify-content center
                            transition background 0.5s ease-in-out
                            +below($tablet)
                                width 60px
                            +mobile()
                                width 50px
                            .icone-download
                                width auto
                                height auto
                                object-fit contain
                                +below($tablet)
                                    width 26px
                                +mobile()
                                    width 22px
                            &:hover
                                background-color #86174C
        .lista-comunicacoes
            .header-comunicacoes
                display flex
                align-items center
                justify-content flex-start
                margin 45px 0 40px 0
                +below($tablet) 
                    margin 40px 0 30px 0
                +mobile()
                    margin 30px 0
                    flex-wrap wrap
                .link-voltar
                    width 120px
                    height 40px
                    margin 0 25px 0 0
                    opensans(16, bold)
                    color #86174C
                    background-color #FFF
                    border 1px solid #86174C
                    display flex
                    align-items center
                    justify-content center
                    transition all 0.5s ease-in-out
                    +below($tablet)
                        height 30px
                        margin 0 20px 0 0
                        font-size 12px
                    +mobile()
                        width 100%
                        height 25px
                        font-size 10px
                        margin 0 0 10px 0
                    &:hover
                        color #FFF
                        background-color #86174C
                .subtitulo
                    montserrat(24, light)
                    color #85807F
                    text-transform uppercase
                    margin 0
                    > span
                        color #86174C
                    +below($tablet)
                        font-size 18px
                    +mobile()
                        width 100%
                        font-size 16px
            .form-comunicacao
                width 690px
                height 180px
                margin 0 auto
                position relative
                border 1px solid #85807F
                +below($tablet)
                    width 60%
                    height 130px
                +mobile()
                    width 100%
                textarea
                    margin 0
                    width 100%
                    height 100%
                    padding 15px 20px
                    border none
                    outline none
                    resize none
                    opensans(16)
                    color #85807F
                    background-color #FFF
                    position relative
                    transition .3s ease
                    +below($tablet)
                        font-size 14px
                        padding 15px
                    +mobile()
                        font-size 12px
                    &:hover
                    &:focus
                        font-weight 600
                button[type=submit]
                    position absolute
                    right 0
                    bottom 0
                    margin 0
                    width 120px
                    height 30px
                    border none
                    outline none
                    cursor pointer
                    opensans(14, bold)
                    color #FFF
                    background-color #86174C
                    transition background 0.5s ease-in-out
                    +below($tablet)
                        width 100px
                        font-size 12px
                    +mobile()
                        font-size 10px
                        height 25px
                    &:hover
                        background-color #85807F
            .comunicacoes
                margin 50px 0
                +below($tablet)
                    margin 40px 0
                +mobile()
                    margin 30px 0
                .comunicacao
                    width 690px
                    height auto
                    padding 15px 20px
                    border 1px solid #85807F
                    background-color #FFF
                    position relative
                    +below($tablet)
                        width 60%
                        padding 15px
                    +mobile()
                        width 80%
                    .empresa
                        montserrat(12)
                        font-weight 600
                        color #86174C
                        text-transform uppercase
                        margin 0 0 5px 0
                        +below($tablet)
                            font-size 10px
                    .texto-msg
                        opensans(16)
                        color #85807F
                        margin 0
                        line-height 1.5
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            font-size 12px
                    .data-msg
                        montserrat(10)
                        font-weight 600
                        color #86174C
                        margin 10px 0
                        +below($tablet)
                            font-size 9px
                            margin 5px 0
                .comunicacao.left
                    margin 0 auto 30px 0
                    +below($tablet)
                        margin 0 auto 20px 0
                    .link-excluir-comunicacao
                        position absolute
                        right -30px
                        bottom 0
                        .img-excluir
                            width 16px
                            height auto
                            object-fit contain
                            transition transform .3s
                            +below($tablet)
                                width 14px
                        &:hover
                            .img-excluir
                                transform rotate(360deg) scale(1.2)
                .comunicacao.right
                    margin 0 0 30px auto
                    +below($tablet)
                        margin 0 0 20px auto
        .lista-resultados-busca
            .subtitulo
                montserrat(24, light)
                color #85807F
                text-transform uppercase
                margin 50px 0 0 0
                +below($tablet)
                    margin 30px 0 0 0
                    font-size 18px
                +mobile()
                    font-size 16px
            .resultado
                width 100%
                height auto
                padding 20px 0 10px 0
                border-bottom 1px solid #86174C
                .documento
                    width 100%
                    height auto
                    padding 10px 20px
                    margin-bottom 10px
                    display flex
                    align-items center
                    justify-content flex-start
                    background-color #FFF
                    +mobile()
                        flex-wrap wrap
                        padding 10px 15px
                    .img-pdf
                        width 30px
                        height 30px
                        background-color #E9E8E8
                        border-radius 50%
                        padding 8px
                        .icone-pdf
                            width 100%
                            height 100%
                            object-fit contain
                    .titulo-doc
                        width auto
                        montserrat(16, medium)
                        color #85807F
                        text-transform uppercase
                        margin 0 20px
                        +below($tablet)
                            font-size 13px
                        +mobile()
                            font-size 12px
                            margin 0 0 0 15px
                            width calc("100% - 30px - 15px")
                    .texto-doc
                        max-width 50%
                        opensans(12, medium)
                        color #85807F
                        margin 0 20px 0 0
                        +below($tablet)
                            font-size 10px
                        +mobile()
                            max-width 100%
                            width 100%
                            margin 10px 0
                    .link-versoes
                        width 250px
                        height 30px
                        background-color #85807F
                        margin 0 0 0 auto
                        opensans(14, bold)
                        color #FFF
                        display flex
                        align-items center
                        justify-content center
                        transition background 0.5s ease-in-out
                        +below($tablet)
                            width auto
                            height auto
                            padding 5px 15px
                        +mobile()
                            width 100%
                            margin 0
                        &:hover
                            background-color #86174C
                .versao
                    width 100%
                    height auto
                    padding 10px 20px
                    margin-bottom 10px
                    display flex
                    align-items center
                    justify-content flex-start
                    background-color #FFF
                    +mobile()
                        flex-wrap wrap
                        padding 10px 15px
                    .data
                        montserrat(10)
                        font-weight 600
                        color #86174C
                        margin 0 
                        +below($tablet)
                            font-size 9px
                        +mobile()
                            width 100%
                    .nome
                        opensans(16, medium)
                        color #85807F
                        margin 0 10px
                        +below($tablet)
                            font-size 13px
                        +mobile()
                            font-size 12px
                            width 100%
                            margin 5px 0
                    .link-download-versao
                        width 250px
                        height 30px
                        background-color #85807F
                        margin 0 0 0 auto
                        opensans(14, bold)
                        color #FFF
                        display flex
                        align-items center
                        justify-content center
                        transition background 0.5s ease-in-out
                        +below($tablet)
                            width auto
                            height auto
                            padding 5px 15px
                        +mobile()
                            width 100%
                            margin 0
                        .icone-download
                            width 20px
                            height auto
                            object-fit contain
                            margin-left 10px
                        &:hover
                            background-color #86174C