.ac-login
    width 100%
    height auto
    min-height calc("100% - 260px - 400px")
    margin 0
    padding 0
    position relative
    background-color #F3F3F3
    +below($tablet)
        min-height calc("100% - 260px - 340px")
    .centralizado
        width 1300px
        margin 0 auto
        padding 30px 0 100px 0
        position relative
        +below($tablet)
            width 90%
        h2.titulo
            montserrat(28, light)
            color #86174C
            margin 0 0 30px 0
            +below($tablet)
                font-size 20px
            +mobile()
                font-size 16px
        .link-admin
            montserrat(14)
            color #85807F
            position absolute
            top 30px
            right 0
            +below($tablet)
                font-size 12px
            &:hover
                color #86174C
        .form-login, .form-esqueci, .form-redefinir, .form-alterar
            width 100%
            height auto
            display flex
            flex-direction row
            align-items flex-start
            justify-content center
            margin 0
            +mobile()
                flex-direction column
                align-items center
            .caixa-identifique-se
                width 400px
                height 190px
                display flex
                align-items center
                justify-content center
                background-color #85807F
                +below($tablet)
                    width 35%
                    height 150px
                +mobile()
                    width 80%
                    height 100px
                .txt-identifique-se
                    opensans(16)
                    font-weight 600
                    color #FFF
                    margin 0
                    width 65%
                    +below($tablet)
                        font-size 14px
                    +mobile()
                        font-size 12px
                        width 75%
                .img-seta
                    width 18px
                    height auto
                    object-fit contain
                    margin-left 10px
                    +below($tablet)
                        width 16px
                    +mobile()
                        width 14px
            .inputs-form
                width 400px
                height auto
                display flex
                flex-direction column
                align-items flex-start
                margin-left 10px
                +below($tablet)
                    width 35%
                +mobile()
                    width 80%
                    margin 10px 0 0 0
                input[type=email]
                input[type=password]
                    margin 0 0 10px 0
                    width 100%
                    height 50px
                    padding 0 20px
                    border none
                    outline none
                    opensans(16)
                    color #85807F
                    background-color #FFF
                    transition .3s ease
                    +below($tablet)
                        font-size 14px
                        height 40px
                    +mobile()
                        font-size 12px
                        padding 0 15px
                    +placeholder()
                        color #85807F
                        background-color #FFF
                    &:hover
                    &:focus
                        font-weight 600
                input[type=submit]
                button[type=submit]
                    margin 0
                    width 100%
                    height 70px
                    border none
                    outline none
                    cursor pointer
                    opensans(16, bold)
                    color #FFF
                    background-color #86174C
                    transition background 0.5s ease-in-out
                    +below($tablet)
                        font-size 14px
                        height 50px
                    +mobile()
                        font-size 12px
                    +placeholder()
                        color #FFF
                        background-color #86174C
                    &:hover
                        background-color #85807F
                .link-esqueci-senha
                    width 100%
                    opensans(14, light)
                    color #85807F
                    font-style italic
                    text-align center
                    margin 20px 0 0 0
                    transition .3s ease
                    +below($tablet)
                        font-size 12px
                        margin 15px 0 0 0
                    &:hover
                        color #86174C
        .form-esqueci, .form-redefinir, .form-alterar
            flex-direction column
            align-items center
        clearfix()
        .flash
            display flex
            align-items center
            justify-content center
            margin 20px auto
            width 1300px
            height 40px
            opensans(14, medium)
            padding 5px 10px
            border-radius 0
            position absolute
            > p
                margin 0
            &.flash-error
                border 2px solid $vermelho
                background $vermelho
                color #fff
            &.flash-success
                border 2px solid $verde
                background $verde
                color #fff
            +below($tablet)
                width 90%
                height 30px
                font-size 12px
        .link-voltar
            width 100%
            opensans(14, light)
            color #85807F
            font-style italic
            text-align center
            margin 20px 0 0 0
            display flex
            justify-content center
            transition .3s ease
            +below($tablet)
                font-size 12px
                margin 15px 0 0 0
            &:hover
                color #86174C