section.aplicacoes
    width 100%
    height auto
    position relative
    background-color #F3F3F3
    margin-top 0
    .centralizado
        width 1300px
        margin 0 auto
        display flex
        flex-direction row
        align-items flex-start
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
        .submenu
            width 33%
            padding-right 130px
            +below($tablet)
                width 30%
                padding-right 30px
            +mobile()
                width 100%
                padding-right 0
                margin-bottom 30px
            .titulo-menu
                montserrat(28, light)
                color #86174C
                margin 28px 0 20px 0
                +below($tablet)
                    font-size 24px
                    margin 20px 0
            .itens-submenu
                width 100%
                display flex
                flex-direction column
                align-items flex-start
                .link-submenu
                    width 100%
                    height auto
                    display flex
                    flex-direction row
                    align-items center
                    justify-content space-between
                    border-bottom 2px solid #DBDAD9
                    transition .3s ease
                    .nome-link
                        width 90%
                        display flex
                        align-items center
                        montserrat(16, medium)
                        color #85807F
                        text-transform uppercase
                        line-height 1.2
                        padding 10px 0 5px 0
                        +below($tablet)
                            font-size 12px
                        +mobile()
                            padding 7px 0 3px 0
                        span
                            montserrat(16, medium)
                            color #86174C
                            margin-right 10px
                            +below($tablet)
                                font-size 14px
                                margin-right 5px
                    .link-hover
                        display none
                    &:hover
                    &:focus 
                    &.active
                        .nome-link
                            color #86174C
                        .link-hover
                            montserrat(17)
                            color #86174C
                            display block
                            position relative
                            font-weight 600
                            margin 0 5px
                            +below($tablet)
                                font-size 14px
        .conteudo-submenu
            width 67%
            position relative
            display block
            +below($tablet)
                width 70%
            +mobile()
                width 100%
            .img-aplicacao
                width 220px
                height 220px
                background-color #E9E8E8
                display flex
                align-items center
                justify-content center
                float left
                margin 0 60px 20px 0
                +below($tablet)
                    width 180px
                    height 180px
                    margin 0 40px 35px 0
                +mobile()
                    width 100px
                    height 100px
                    margin 0 20px 10px 0
                > img
                    width 100%
                    height 100%
                    object-fit cover
            .textos-aplicacao
                padding 45px 0 0 0
                +below($tablet)
                    padding 30px 0 0 0
                +mobile()
                    padding 10px 0
                h3.titulo
                    montserrat(48, light)
                    color #85807F
                    text-transform uppercase
                    line-height 1.4
                    margin 0 0 35px 0
                    +below($tablet)
                        font-size 32px
                        margin 0 0 20px 0
                    +mobile()
                        font-size 24px
                .texto
                    opensans(16, medium)
                    color #0F0F0F
                    margin-bottom 40px
                    padding-right 70px
                    +below($tablet)
                        font-size 14px
                        padding-right 30px
                    +mobile()
                        padding 0
                    > p
                        line-height 1.7
                        margin 25px 0
                        +below($tablet)
                            margin 20px 0
                    > ul 
                        line-height 1.7
                        li
                            line-height 1.7
            .areas
                width 100%
                position relative
                .area
                    width 100%
                    position relative
                    margin-bottom 5px
                    .titulo-area
                        width 100%
                        height 40px
                        montserrat(24, light)
                        color #FFF
                        text-transform uppercase
                        border-radius 0 20px 20px 0
                        margin 0
                        padding-left 15px
                        cursor pointer
                        display flex
                        align-items center
                        justify-content space-between
                        transition .3s ease
                        +below($tablet)
                            font-size 18px
                            padding-left 10px
                        +mobile()
                            font-size 14px
                            padding 0 10px
                        .img-seta-link
                            display block
                            width 15px
                            height 15px
                            position relative
                            margin 0 20px
                            +below($tablet)
                                width 12px
                                height 12px
                            +mobile()
                                width 10px
                                height 10px
                        .img-seta-active
                            display none
                        &:hover
                            opacity 0.8
                        &.active
                            .img-seta-link
                                display none
                            .img-seta-active
                                display block
                                width 12px
                                position relative
                                margin 0 20px
                                +below($tablet)
                                    margin 0 5px
                                +mobile()
                                    width 10px
                    #tituloArea1
                        background-color #518A7C
                    #tituloArea2
                        background-color #D5904C
                    #tituloArea3
                        background-color #C4424B
                    #tituloArea4
                        background-color #40577A
                    .texto-area
                        display none
                        width 100%
                        opensans(16, medium)
                        color #0F0F0F
                        padding-right 70px
                        +below($tablet)
                            font-size 14px
                            padding-right 30px
                        +mobile()
                            padding 0
                        > p
                            line-height 1.7
                            margin 25px 0
                            +below($tablet)
                                margin 20px 0
                        > ul 
                            line-height 1.7
                            li
                                line-height 1.7
                    .servicos-area
                        display none
                        width 100%
                        padding 0 70px 50px 0
                        +below($tablet)
                            padding 0 30px 30px 0
                        +mobile()
                            padding 0 0 30px 0
                        .servico
                            display flex
                            align-items center
                            justify-content space-between
                            height auto
                            border-bottom 1px solid #86174C
                            p.nome
                                opensans(16, medium)
                                color #0F0F0F
                                margin 0
                                +below($tablet)
                                    font-size 14px
                                > span
                                    margin-right 10px
                                    +below($tablet)
                                        margin-right 5px
                            .img-seta
                                width 12px
                                margin-right 10px
                                +below($tablet)
                                    width 10px
                            &:hover
                            &:focus
                                background-color #E9E8E8
                        