section.areas-de-negocio
    width 100%
    height auto
    position relative
    background-color #F3F3F3
    margin-top 0
    .areas
        width 1300px
        height auto
        display flex
        flex-direction row
        align-items center
        justify-content center
        position relative
        margin 0 auto
        padding 30px 0
        +below($tablet)
            width 90%
            padding 20px
        +mobile()
            padding 10px
        .link-area
            width 250px
            height 250px
            border-radius 50%
            border 4px solid #FFF
            position relative
            padding 10px
            transition .3s ease
            +below($tablet)
                width 200px
                height 200px
                border 3px solid #FFF
            +mobile()
                width 100px
                height 100px
                border 2px solid #FFF
                padding 5px
            .conteudo-link
                width 220px
                height 220px
                display flex
                flex-direction column
                align-items center
                justify-content center
                border-radius 50%
                border none
                position relative
                padding 0 20px
                +below($tablet)
                    width 175px
                    height 175px
                +mobile()
                    width 85px
                    height 85px
                .titulo 
                    margin 0
                    line-height 1.4
                    opensans(22)    
                    font-weight 600
                    font-style italic
                    color #FFF
                    text-align center
                    +below($tablet)
                        font-size 18px
                    +mobile()
                        font-size 9px
                        font-weight 500
                .img-areas
                    display none
            &:hover
            &:focus
            &.active
                .conteudo-link
                    border 4px solid #FFF
                    padding 20px
                    +below($tablet)
                        border 3px solid #FFF
                        padding 10px
                    +mobile()
                        border 2px solid #FFF
                        padding 5px
                    .img-areas
                        position absolute
                        display block
                        width 13px
                        bottom 10px
                        +below($tablet)
                            width 10px
                        +mobile()
                            width 8px
                            bottom 3px
        #area1
            background-color #A9C5BE
            z-index 9
            margin-right -25px
            +mobile()
                margin-right -15px
            &:hover
            &:focus
            &.active
                background-color #518A7C
        #area2
            background-color #EBC8A6
            z-index 8
            margin-right -25px
            +mobile()
                margin-right -20px
            &:hover
            &:focus
            &.active
                background-color #D5904C
        #area3
            background-color #E2A1A6
            z-index 7
            margin-right -25px
            +mobile()
                margin-right -20px
            &:hover
            &:focus
            &.active
                background-color #C4424B
        #area4
            background-color #A0ACBD
            z-index 6
            &:hover
            &:focus
            &.active
                background-color #40577A
    #conteudoAreaDeNegocio
        width 100%
        position relative
        +mobile()
            margin-bottom 40px
        .img-titulo
            width 100%
            height 90px
            display flex
            align-items center
            position relative
            +below($tablet)
                height 75px
            .img-area
                width 320px
                height 220px
                object-fit cover
                top 0
                margin-left calc("(100% - 1300px)/2")
                position absolute
                +below($tablet)
                    width 280px
                    height 180px
                    margin-left 5%
                +mobile()
                    width 75px
                    height 75px
            h4.titulo
                width 1300px
                margin 0 auto
                montserrat(34, light)
                color #FFF
                text-transform uppercase
                padding 0 0 0 430px
                +below($tablet)
                    width 90%
                    font-size 22px
                    padding 0 0 0 35%
                +mobile()
                    padding 0 0 0 30%
                    font-size 18px
        #area1
            background-color #518A7C
        #area2
            background-color #D5904C
        #area3
            background-color #C4424B
        #area4
            background-color #40577A
        .texto-pt1, .texto-pt2
            width 1300px
            margin 0 auto
            padding 15px 70px 0 430px
            position relative
            opensans(16)
            color #0F0F0F
            +below($tablet)
                width 90%
                padding 15px 0 0 35%
                font-size 14px
            +mobile()
                padding 15px 0 0 0
            > p
                line-height 1.7
                margin-bottom 20px
                +below($tablet)
                    margin-bottom 15px
            > ul 
                line-height 1.7
                li
                    line-height 1.7
        .aplicacoes
            width 1300px
            margin 0 auto
            padding 10px 70px 0 430px
            position relative
            +below($tablet)
                width 90%
                padding 10px 0 0 35%
            +mobile()
                padding 10px 0 0 0
            h6.titulo
                height 25px
                margin 0 0 10px 0
                display flex
                align-items center
                justify-content flex-start
                opensans(16)
                color #FFF
                font-weight 600
                padding-left 20px
                +below($tablet)
                    height 20px
                    font-size 14px
                    padding-left 15px
            #aplicacaoArea1
                background-color #518A7C
            #aplicacaoArea2
                background-color #D5904C
            #aplicacaoArea3
                background-color #C4424B
            #aplicacaoArea4
                background-color #40577A
            .aplicacao
                display flex
                align-items center
                height 25px
                opensans(16)
                color #86174C
                font-weight 600
                text-transform uppercase
                margin 2px 0
                +below($tablet)
                    height 20px
                    font-size 14px
                > span
                    margin-right 5px
                &:hover
                &:focus
                    background-color #E9E8E8
        .servicos
            width 1300px
            margin 0 auto
            padding 10px 70px 0 430px
            position relative
            +below($tablet)
                width 90%
                padding 10px 0 0 35%
            +mobile()
                padding 10px 0 0 0
            h6.titulo
                height 25px
                margin 0 0 10px 0
                display flex
                align-items center
                justify-content flex-start
                opensans(16)
                color #FFF
                font-weight 600
                padding-left 20px
                +below($tablet)
                    height 20px
                    font-size 14px
                    padding-left 15px
            #servicoArea1
                background-color #518A7C
            #servicoArea2
                background-color #D5904C
            #servicoArea3
                background-color #C4424B
            #servicoArea4
                background-color #40577A
            .servico
                display flex
                align-items center
                justify-content space-between
                height auto
                border-bottom 1px solid #86174C
                p.nome
                    opensans(16, medium)
                    color #0F0F0F
                    margin 0
                    +below($tablet)
                        font-size 14px
                    > span
                        margin-right 10px
                        +below($tablet)
                            margin-right 5px
                .img-seta
                    width 12px
                    margin-right 10px
                    +below($tablet)
                        width 10px
                &:hover
                &:focus
                    background-color #E9E8E8
                    p.nome
                        color #86174C
                        font-weight 600