section.artigos-tecnicos
    width 100%
    height auto
    position relative
    background-color #F3F3F3
    margin-top 0
    .centralizado
        width 1300px
        margin 0 auto
        padding 30px 0
        position relative
        +below($tablet)
            width 90%
        .titulo
            margin 0 0 30px 0
            montserrat(28, light)
            color #86174C
            position relative
            +below($tablet)
                font-size 24px
        .artigos
            width 100%
            position relative
            .artigo
                width 305px
                height auto
                background-color #FFF
                margin 0 20px 20px 0
                padding 20px 30px 0 30px
                display flex
                flex-direction column
                align-items center
                position relative
                cursor pointer
                outline none
                transition .3s ease
                +below($tablet)
                    width 30%
                    padding 20px 20px 0 20px
                +mobile()
                    width 100%
                    margin 0 0 20px 0
                .img-pdf
                    width 80px
                    height 80px
                    background-color #E9E8E8
                    border-radius 50%
                    border none
                    position relative
                    display flex
                    align-items center
                    justify-content center
                    +below($tablet)
                        width 60px
                        height 60px
                    > img
                        width 35px
                        transition transform 0.2s
                        +below($tablet)
                            width 40%
                .titulo-artigo
                    width 100%
                    montserrat(16, medium)
                    color #85807F
                    text-align center
                    margin 0
                    padding 20px 0 25px 0
                    border-bottom 1px solid #86174C
                    +below($tablet)
                        font-size 12px
                        padding 15px 0
                &:hover
                &:focus
                    background-color #E9E8E8
                    .img-pdf
                        > img
                            transform rotate(360deg) scale(1.5)
                    .titulo-artigo
                        color #86174C