section.resultados-busca
    width 100%
    height auto
    position relative
    background-color #F3F3F3
    margin-top 0
    .centralizado
        width 1300px
        margin 0 auto
        padding 30px 0
        position relative
        +below($tablet)
            width 90%
        .titulo
            margin 0 0 10px 0
            montserrat(28, light)
            color #86174C
            position relative
            +below($tablet)
                font-size 24px
        .resultados
            width 100%
            position relative
            .resultado
                width 100%
                display flex
                flex-direction row
                align-items flex-start
                padding 20px 0 30px 0
                border-bottom 2px solid #DBDAD9
                transition .3s ease
                +below($tablet)
                    padding 15px 0 20px 0
                +mobile()
                    flex-direction column
                .secao
                    width 33%
                    montserrat(16, medium)
                    color #85807F
                    transition .3s ease
                    +below($tablet)
                        width 30%
                        font-size 14px
                    +mobile()
                        width 100%
                        margin-bottom 10px
                    span
                        montserrat(16, bold)
                        color #86174C
                        margin-right 10px
                        +below($tablet)
                            font-size 14px
                .link-resultado
                    width 67%
                    montserrat(16, medium)
                    color #0F0F0F
                    line-height 1.7
                    padding-right 70px
                    transition .3s ease
                    +below($tablet)
                        width 70%
                        font-size 14px
                        padding-right 0
                    +mobile()
                        width 100%
                &:hover
                &:focus
                    background-color #DBDAD9
                    .secao
                        color #86174C
                    .link-resultado
                        color #86174C
