section.clientes
    width 100%
    height auto
    position relative
    background-color #F3F3F3
    margin-top 0
    .centralizado
        width 1300px
        margin 0 auto
        padding 30px 0
        position relative
        display flex
        flex-direction row
        align-items flex-start
        justify-content space-between
        flex-wrap wrap
        +below($tablet)
            width 90%
        .cliente
            width 320px
            height 215px
            margin-bottom 10px
            padding 40px 50px
            background-color #FFF
            display flex
            align-items center
            justify-content center
            position relative
            +below($tablet)
                width 32%
                height 175px
                margin-bottom 15px
                padding 35px 45px
            +mobile()
                width 48%
                height 100px
                margin-bottom 10px
                padding 20px
            .img-cliente
                max-width 100%
                max-height 100%
                object-fit contain
                position relative
                transition transform 0.2s
            &:hover
            &:focus
                .img-cliente
                    transform scale(1.3)