section.pagina-contato
    width 100%
    height auto
    position relative
    background-color #F3F3F3
    margin-top 0
    .centralizado
        width 1300px
        margin 0 auto
        padding 40px 0 50px 0
        position relative
        display flex
        flex-direction row
        align-items flex-start
        +below($tablet)
            width 90%
            padding 30px 0 50px 0
        +mobile()
            flex-direction column
        .contatos
            width 33%
            padding-right 200px
            +below($tablet)
                width 30%
                padding-right 30px
            +mobile()
                width 100%
                padding-right 0
            .telefone
                opensans(24, medium)
                color #85807F
                transition .3s ease
                +below($tablet)
                    font-size 20px
                &:hover
                    color #86174C
            .endereco
                opensans(16, medium)
                color #85807F
                margin 10px 0
                line-height 1.7
                +below($tablet)
                    font-size 14px
            .atendimento
                opensans(14, medium)
                color #85807F
                margin 30px 0 0 0
                line-height 1.2
                +below($tablet)
                    font-size 12px
            .horario
                opensans(14, medium)
                color #85807F
                margin 5px 0
                +below($tablet)
                    font-size 12px
        .fale-conosco
            width 67%
            +below($tablet)
                width 70%
            +mobile()
                width 100%
                margin-top 30px
            h4.titulo
                montserrat(24, light)
                color #86174C
                margin 0 0 25px 0
                +below($tablet)
                    font-size 20px
                    margin 0 0 15px 0
            form
                width 100%
                display flex
                flex-direction row
                align-items flex-start
                +mobile()
                    flex-direction column
                .dados
                    display flex
                    flex-direction column
                    +below($tablet)
                        width 40%
                    +mobile()
                        width 100%
                    input[type=text]
                    input[type=email]
                        margin 3px 0
                        width 300px
                        height 35px
                        padding 0 10px
                        border none
                        outline none
                        opensans(16, medium)
                        color #85807F
                        background-color #FFF
                        +below($tablet)
                            width 100%
                            font-size 14px
                            margin 2px 0
                            height 30px
                        +placeholder()
                            color #85807F
                            background-color #FFF
                        &:hover
                        &:focus
                            font-weight 700
                    select, .select2-container--default .select2-selection--single
                        opensans(16, medium)
                        width 300px
                        height 35px
                        border none
                        border-radius 0
                        margin 3px 0 
                        padding 0 10px
                        color #85807F
                        outline none
                        appearance none
                        background $img("seta-dupla-abaixo-cinza.svg") no-repeat 97% #FFF
                        background-size 7px
                        transition .1s ease
                        display flex
                        align-items center
                        +below($tablet)
                            width 100%
                            font-size 14px
                            margin 2px 0
                            height 30px
                        .select2-selection__rendered
                            color #85807F
                        .select2-selection__arrow
                            display none
                        option
                            opensans(16, medium)
                            border none
                            +below($tablet)
                                font-size 14px
                        &:hover
                            font-weight 700
                textarea
                    margin 3px 6px
                    width 440px
                    height 200px
                    padding 10px 10px
                    border none
                    outline none
                    resize none
                    opensans(16, medium)
                    color #85807F
                    background-color #FFF
                    +below($tablet)
                        width 40%
                        font-size 14px
                        margin 2px 4px
                        height 166px
                    +mobile()
                        width 100%
                        margin 2px 0
                    +placeholder()
                        color #85807F
                        background-color #FFF
                    &:hover
                    &:focus
                        font-weight 700
                .buttons-contato
                    width 120px
                    height 200px
                    display flex
                    margin 3px 0
                    flex-direction column
                    align-items flex-start
                    justify-content space-between
                    +below($tablet)
                        width 20%
                        height 166px
                        margin 2px 0
                    +mobile()
                        width 100%
                        height 50px
                        flex-direction row
                    .anexar-arquivo
                        width 100%
                        height 97px
                        background-color #C2C0BF
                        display flex
                        align-items center
                        padding 15px
                        cursor pointer
                        transition .3s ease
                        +below($tablet)
                            height 49%
                        +mobile()
                            width 49%
                            height 100%
                        label
                            opensans(16, medium)
                            color #FFF
                            text-align center
                            line-height 1.4
                            cursor pointer
                            +below($tablet)
                                font-size 14px
                        &:hover
                        &:focus
                            background-color #85807F
                            label
                                color #86174C
                                font-weight 600
                    .btn-contato
                        width 100%
                        height 97px
                        background-color #7D2469
                        border none
                        outline none
                        opensans(16, bold)
                        color #FFF
                        cursor pointer
                        transition .3s ease
                        +below($tablet)
                            font-size 14px
                            height 49%
                        +mobile()
                            width 49%
                            height 100%
                        &:hover
                        &:focus
                            background-color #85807F
                            color #86174C
            clearfix()
            .flash
                display flex
                align-items center
                justify-content center
                margin 0
                width 67%
                height 40px
                opensans(14, medium)
                padding 5px 10px
                border-radius 0
                position absolute
                > p
                    margin 0
                &.flash-erro
                    border 2px solid $vermelho
                    background $vermelho
                    color #fff
                &.flash-sucesso
                    border 2px solid $verde
                    background $verde
                    color #fff
                +below($tablet)
                    montserrat(12, medium)
                    height 40px
                    width 70%
                +mobile()
                    width 100%
    .contato-mapa
        width 100%
        height 550px
        +below($tablet)
            height 400px
        iframe 
            width 100%
            height 100%

.select2-container .select2-selection--single .select2-selection__rendered
    padding-left 0 !important
    padding-right 0 !important
.select2.select2-container.select2-container--default
    display inline-table
.select2-dropdown.select2-dropdown--below
    width 320px !important
.select2-container--open .select2-dropdown
    left 5px !important
.select2-container--open .select2-dropdown--below
    border 1px solid rgb(133, 133, 133) !important
    border-radius 0
.select2-container--default .select2-search--dropdown .select2-search__field
    outline none !important
.select2-container--default .select2-results__option--highlighted[aria-selected]
    background-color #1E90FF !important
    montserrat(16)
    color #FFF !important
    +below($tablet)
        font-size 14px !important
.select2-results__option[aria-selected]
    color #85807F !important
.select2-results__option
    padding 3px 10px !important