section.empresa
    width 100%
    height auto
    position relative
    background-color #F3F3F3
    margin-top 0
    .centralizado
        width 1300px
        margin 0 auto
        display flex
        flex-direction row
        align-items flex-start
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
        .submenu
            width 33%
            padding-right 130px
            +below($tablet)
                width 29%
                padding-right 30px
            +mobile()
                width 100%
                padding 0
            .titulo-menu
                montserrat(28, light)
                color #86174C
                margin 28px 0 20px 0
                +below($tablet)
                    font-size 24px
                    margin 20px 0
            .itens-submenu
                width 100%
                display flex
                flex-direction column
                align-items flex-start
                .link-submenu
                    width 100%
                    height 36px
                    display flex
                    flex-direction row
                    align-items center
                    justify-content space-between
                    border-bottom 2px solid #DBDAD9
                    +below($tablet)
                        height 32px
                    .nome-link
                        display flex
                        montserrat(16, medium)
                        color #85807F
                        padding 10px 0 5px 0
                        +below($tablet)
                            font-size 14px
                        span
                            montserrat(16, medium)
                            color #86174C
                            margin-right 10px
                            +below($tablet)
                                font-size 14px
                    .link-hover
                        display none
                    &:hover
                    &:focus 
                    &.active
                        .nome-link
                            color #86174C
                        .link-hover
                            montserrat(17)
                            color #86174C
                            display block
                            position relative
                            font-weight 600
                            margin-right 8px
                            +below($tablet)
                                font-size 14px
                                margin-right 5px
        .conteudo-submenu
            width 67%
            position relative
            display block
            +below($tablet)
                width 71%
            +mobile()
                width 100%
                margin-top 30px
            div.img-empresa
                width 220px
                height 220px
                background-color #E9E8E8
                display flex
                align-items center
                justify-content center
                float left
                margin 0 65px 60px 0
                +below($tablet)
                    width 180px
                    height 180px
                    margin 0 40px 35px 0
                +mobile()
                    width 100px
                    height 100px
                    margin 0 20px 10px 0
                img.img-empresa
                    +below($tablet)
                        width 50%
            .textos-empresa
                padding 50px 70px 10px 0
                +below($tablet)
                    padding 30px 40px 10px 0
                +mobile()
                    padding 10px 0
                h3.titulo
                    montserrat(48, light)
                    color #85807F
                    text-transform uppercase
                    margin 0 0 30px 0
                    +below($tablet)
                        font-size 32px
                        margin 0 0 20px 0
                    +mobile()
                        font-size 28px
                .texto
                    opensans(16, medium)
                    color #0F0F0F
                    margin-bottom 40px
                    +below($tablet)
                        font-size 14px
                        margin-bottom 30px
                    > p
                        line-height 1.7
                        margin 30px 0
                        +below($tablet)
                            margin 20px 0
                        img 
                            max-width 100% !important
                    > ul 
                        line-height 1.7
                        li
                            line-height 1.7
                .visao, .missao, .valores
                    width 100%
                    background-color #E9E8E8
                    padding 30px
                    margin 6px 0
                    +below($tablet)
                        padding 20px
                    .titulo-caixa
                        montserrat(24, bold)
                        color #86174C
                        margin 0 0 5px 0
                        +below($tablet)
                            font-size 18px
                        +mobile()
                            font-size 16px
                    .texto-caixa
                        montserrat(16, medium)
                        color #0F0F0F
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            font-size 12px
                        > p 
                            margin 5px 0
                            line-height 1.6
                        > ul 
                            line-height 1.6
                            li
                                line-height 1.6
                .equipe
                    width 100%
                    height 140px
                    background-color #E9E8E8
                    margin 0 0 20px 0
                    display flex
                    flex-direction row
                    align-items flex-start
                    justify-content flex-start
                    +below($tablet)
                        height 120px
                        margin 0 0 15px 0
                    +mobile()
                        height 240px
                        flex-direction column
                        align-items center
                    .img-equipe
                        width 140px
                        height 100%
                        object-fit cover
                        +below($tablet)
                            width 120px
                        +mobile()
                            width 100px
                            height 100px
                    .dados
                        height 100%
                        display flex
                        flex-direction column
                        align-items flex-start
                        padding 20px 20px 0 30px
                        +below($tablet)
                            padding 10px 10px 0 20px
                        +mobile()
                            align-items center
                            padding 10px 10px 0 10px
                        .titulo
                            opensans(18, bold)
                            color #0F0F0F
                            margin 0 0 10px 0
                            +below($tablet)
                                font-size 16px
                                margin 0 0 5px 0
                        .texto
                            opensans(14)
                            color #0F0F0F
                            +below($tablet)
                                font-size 12px
                            > p
                                margin 0