.filtro-geral
    width 100%
    height 200px
    position relative
    background-color #F3F3F3
    margin 50px 0 0 0
    border-top 1px solid #86174C
    +below($tablet)
        margin 30px 0 0 0
        height 175px
    +mobile()
        height 320px
    .centralizado
        width 1300px
        margin 0 auto
        padding 30px 0 0 0
        display block !important
        +below($tablet)
            width 90%
        .titulo-filtro
            montserrat(24, light)
            color #86174C
            text-align center
            margin 0
            +below($tablet)
                font-size 20px
            +mobile()
                font-size 18px
        .filtro
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content flex-start
            margin-top 38px
            +below($tablet)
                margin-top 30px
            +mobile()
                flex-direction column
            span.label
                montserrat(16)
                font-weight 600
                color #86174C
                margin-right 15px
                +below($tablet)
                    font-size 10px
                +mobile()
                    width 100%
                    margin 0 0 10px 0
                    text-align center
            select, .select2-container--default .select2-selection--single
                montserrat(16, medium)
                width 320px
                height 40px
                border 1px solid #FFF
                border-radius 0
                margin 0 5px 
                padding 0 10px
                color #85807F
                outline none
                appearance none
                background $img("seta-dupla-abaixo-cinza.svg") no-repeat 97% #FFF
                background-size 7px
                transition .1s ease
                display flex
                align-items center
                .select2-selection__rendered
                    color #85807F
                .select2-selection__arrow
                    display none
                option
                    montserrat(16)
                    border none
                &:hover
                    font-weight 700
                    border 1px solid #DCDCDC
            +below($tablet)
                select
                    font-size 12px
                    width 25%
                    background-size 6px
                    margin 0 3px
                    +mobile()
                        width 100%
                        margin 3px 0
                    option
                        font-size 12px
                .select2-container--default .select2-selection--single
                    width 98%
                    font-size 12px
                    background-size 6px
                    margin 0 3px
                    +mobile()
                        width 100%
                        margin 3px 0
                    option
                        font-size 12px
            .btn-filtro
                montserrat(14)
                font-weight 600
                color #86174C
                background transparent
                width 120px
                height 40px
                margin 0 0 0 5px
                border 1px solid #86174C
                outline none
                display flex
                align-items center
                justify-content center
                transition .3s ease
                +below($tablet)
                    font-size 10px
                    width 10%
                +mobile()
                    width 30%
                    margin 10px 0 0 0
                .img-lupa
                    width 17px
                    margin-left 7px
                    +below($tablet)
                        width 12px
                        margin-left 5px
                &:hover                 
                &:focus
                    background-color rgba(133, 128, 127, 0.6)


.select2-container .select2-selection--single .select2-selection__rendered
    padding-left 0 !important
    padding-right 0 !important
.select2.select2-container.select2-container--default
    display inline-table
.select2-container--open .select2-dropdown
    left 5px !important
.select2-container--open .select2-dropdown--below
    border 1px solid rgb(133, 133, 133) !important
    border-radius 0
.select2-container--default .select2-search--dropdown .select2-search__field
    outline none !important
    montserrat(16)
    color #85807F !important
    +below($tablet)
        font-size 12px !important
.select2-container--default .select2-results__option--highlighted[aria-selected]
    background-color #1E90FF !important
    montserrat(16)
    color #FFF !important
    +below($tablet)
        font-size 12px !important
.select2-results__option[aria-selected]
    color #85807F !important
.select2-results__option
    padding 3px 10px !important
    +below($tablet)
        font-size 12px !important
