section.informacoes-obra
    width 100%
    height auto
    position relative
    background-color #F3F3F3
    margin-top 0
    .centralizado
        width 1300px
        margin 0 auto
        padding 50px 0 0 0
        +below($tablet)
            width 90%
            padding 30px 0 0 0
        .titulo-aplicacao
            margin 0
            montserrat(28, light)
            color #86174C
            text-transform uppercase
            +below($tablet)
                font-size 24px
        .titulo-obra
            margin 20px 0
            montserrat(24, medium)
            color #85807F
            +below($tablet)
                font-size 20px
            +mobile()
                font-size 18px
        .areas-servicos
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content flex-start
            .areas-obra
                display flex
                flex-direction row
                align-items center
                justify-content flex-start
                position relative
                margin-right 60px
                padding 0
                .link-area
                    width 160px
                    height 160px
                    border-radius 50%
                    border 3px solid #FFF
                    position relative
                    padding 10px
                    opensans(15)
                    font-weight 600    
                    font-style italic
                    color #FFF
                    text-align center
                    display flex
                    align-items center
                    justify-content center
                    transition .3s ease
                    +below($tablet)
                        width 120px
                        height 120px
                        border 2px solid #FFF
                        font-size 12px
                        font-weight 500
                    +mobile()
                        width 80px
                        height 80px
                        font-size 8px
                        font-weight 400
                        padding 5px 10px
                #area1
                    background-color #518A7C
                    margin-right -15px
                    z-index 9
                    +below($tablet)
                        margin-right -12px
                    &:hover
                        background-color #85807F
                        color #86174C
                #area2
                    background-color #D5904C
                    margin-right -15px
                    z-index 8
                    &:hover
                        background-color #85807F
                        color #86174C
                #area3
                    background-color #C4424B
                    margin-right -15px
                    z-index 7
                    &:hover
                        background-color #85807F
                        color #86174C
                #area4
                    background-color #40577A
                    z-index 6
                    &:hover
                        background-color #85807F
                        color #86174C
            .servicos-obra
                display flex
                flex-direction column
                align-items flex-start
                .titulo-servicos
                    montserrat(16, medium)
                    color #85807F
                    margin 0 
                .link-servico
                    montserrat(16, medium)
                    color #85807F
                    margin 2px 0
                    transition .3s ease
                    &:hover
                        color #86174C
        .texto-obra
            width 100%
            opensans(16, medium)
            color #0F0F0F
            padding 0
            +below($tablet)
                font-size 14px
            > p
                line-height 1.7
                margin 25px 0
                +below($tablet)
                    margin 20px 0
        .imagens-obra
            width 100%
            padding 0
            margin 0
            display flex
            flex-direction column
            align-items center
            position relative
            .img-obra
                max-height 650px
                max-width 100%
                margin 16px 0
                +below($tablet)
                    max-height 500px
        .btn-voltar-obras
            position relative
            display flex
            align-items center
            justify-content center
            width 250px
            height 40px
            margin 50px auto 60px auto
            bottom 0
            montserrat(18)
            font-weight 600
            color #86174C
            background transparent
            border 1px solid #86174C
            outline none
            cursor pointer
            transition .3s ease
            +below($tablet)
                width 200px
                margin 50px auto
                font-size 16px
            +mobile()
                width 175px
                font-size 14px
            &:hover
                color #85807F
                border 1px solid #85807F