section.galeria-de-imagens
    width 100%
    height auto
    position relative
    background-color #F3F3F3
    margin-top 0
    .filtro-galeria
        width 100%
        height 105px
        position relative
        background-color #F3F3F3
        margin 0
        border-top 1.5px solid #86174C
        +mobile()
            height 270px
        .centralizado
            width 1300px
            margin 0 auto
            padding 0
            +below($tablet)
                width 90%
            .filtro
                width 100%
                display flex
                flex-direction row
                align-items center
                justify-content flex-start
                margin-top 30px
                +mobile()
                    flex-direction column
                    margin 30px 0
                span.label
                    montserrat(16)
                    font-weight 600
                    color #86174C
                    margin-right 15px
                    +below($tablet)
                        font-size 10px
                    +mobile()
                        width 100%
                        margin 0 0 10px 0
                        text-align center
                select, .select2-container--default .select2-selection--single
                    montserrat(16, medium)
                    width 320px
                    height 40px
                    border 1px solid #FFF
                    border-radius 0
                    margin 0 5px 
                    padding 0 10px
                    color #85807F
                    outline none
                    appearance none
                    background $img("seta-dupla-abaixo-cinza.svg") no-repeat 97% #FFF
                    background-size 7px
                    transition .1s ease
                    display flex
                    align-items center
                    .select2-selection__rendered
                        color #85807F
                    .select2-selection__arrow
                        display none
                    option
                        montserrat(16)
                        border none
                        +below($tablet)
                            font-size 14px
                    &:hover
                        font-weight 700
                        border 1px solid #DCDCDC
                +below($tablet)
                    select
                        font-size 12px
                        width 25%
                        background-size 6px
                        margin 0 3px
                        +mobile()
                            width 100%
                            margin 3px 0
                        option
                            font-size 12px
                    .select2-container--default .select2-selection--single
                        width 98%
                        font-size 12px
                        background-size 6px
                        margin 0 3px
                        +mobile()
                            width 100%
                            margin 3px 0
                        option
                            font-size 12px
                .btn-filtro
                    montserrat(14)
                    font-weight 600
                    color #86174C
                    background transparent
                    width 120px
                    height 40px
                    margin 0 0 0 5px
                    border 1px solid #86174C
                    outline none
                    display flex
                    align-items center
                    justify-content center
                    transition .3s ease
                    +below($tablet)
                        font-size 10px
                        width 10%
                    +mobile()
                        width 30%
                        margin 10px 0 0 0
                    .img-lupa
                        width 17px
                        margin-left 7px
                        +below($tablet)
                            width 12px
                            margin-left 5px
                    &:hover                 
                        background-color rgba(133, 128, 127, 0.6)
    .galeria-obras
        width 100%
        height auto
        position relative
        background-color #F3F3F3
        margin-top 0
        .centralizado
            width 1300px
            margin 0 auto
            padding 0
            display flex
            flex-direction row
            align-items flex-start
            justify-content flex-start
            flex-wrap wrap
            +below($tablet)
                width 90%
            +mobile()
                flex-direction column
            .galeria-obra
                width 400px
                position relative
                margin-bottom 60px
                margin-right 35px
                cursor pointer
                +below($tablet)
                    width 31%
                    margin-right 20px
                +mobile()
                    width 100%
                    margin-right 0
                .capa-obra
                    width 100%
                    height 250px
                    position relative
                    +below($tablet)
                        height 200px
                    .img-obra
                        width 100%
                        height 100%
                        object-fit cover
                    .overlay-aplicacao
                        position absolute
                        bottom 0
                        left 0
                        width 100%
                        height 35px
                        background-color #8E8A89
                        opacity 0.9
                        montserrat(14)
                        color #FFF
                        font-weight 600
                        text-transform uppercase
                        display flex
                        align-items center
                        padding-left 10px
                        transition .3s ease
                        +below($tablet)
                            font-size 10px
                            height 30px
                .titulo-obra
                    width 100%
                    height 65px
                    padding 0 20px
                    margin 0
                    montserrat(14)
                    font-weight 600
                    color #0F0F0F
                    line-height 1.2
                    display flex
                    align-items center
                    justify-content flex-start
                    transition .3s ease
                    +below($tablet)
                        height 60px
                        font-size 12px
                .areas-obra
                    width 100%
                    display flex
                    flex-direction row
                    align-items center
                    justify-content flex-start
                    position relative
                    margin 0 auto
                    padding 0
                    .obra-area
                        width 110px
                        height 110px
                        border-radius 50%
                        border 2px solid #FFF
                        position relative
                        padding 10px
                        opensans(10, medium)    
                        font-style italic
                        color #FFF
                        text-align center
                        display flex
                        align-items center
                        justify-content center
                        transition .5s ease
                        +below($tablet)
                            width 80px
                            height 80px
                            font-size 8px
                            font-weight 400
                            padding 5px 10px
                    #area1
                        background-color #518A7C
                        margin-right -15px
                        z-index 9
                        +below($tablet)
                            margin-right -12px
                    #area2
                        background-color #D5904C
                        margin-right -15px
                        z-index 8
                    #area3
                        background-color #C4424B
                        margin-right -15px
                        z-index 7
                    #area4
                        background-color #40577A
                        z-index 6
                &:hover
                    .capa-obra
                        .overlay-aplicacao
                            height 100%
                    .titulo-obra
                        color #86174C
                    #area1, #area2, #area3, #area4
                        background-color #85807F
                        color #86174C
        .btn-mais-obras
            position relative
            display block
            width 250px
            height 40px
            margin 50px auto 60px auto
            bottom 0
            montserrat(18)
            font-weight 600
            color #86174C
            background transparent
            border 1px solid #86174C
            outline none
            cursor pointer
            transition .3s ease
            +below($tablet)
                width 200px
                margin 50px auto
                font-size 16px
            +mobile()
                width 175px
                font-size 14px
            &:hover
                color #85807F
                border 1px solid #85807F


.select2-container .select2-selection--single .select2-selection__rendered
    padding-left 0 !important
    padding-right 0 !important
.select2.select2-container.select2-container--default
    display inline-table
.select2-dropdown.select2-dropdown--below
    width 320px !important
.select2-container--open .select2-dropdown
    left 5px !important
.select2-container--open .select2-dropdown--below
    border 1px solid rgb(133, 133, 133) !important
    border-radius 0
.select2-container--default .select2-search--dropdown .select2-search__field
    outline none !important
.select2-container--default .select2-search--dropdown .select2-search__field
    outline none !important
    montserrat(16)
    color #85807F !important
    +below($tablet)
        font-size 12px !important
.select2-container--default .select2-results__option--highlighted[aria-selected]
    background-color #1E90FF !important
    montserrat(16)
    color #FFF !important
    +below($tablet)
        font-size 12px !important
.select2-results__option[aria-selected]
    color #85807F !important
.select2-results__option
    padding 3px 10px !important
    +below($tablet)
        font-size 12px !important