section.home
    width 100%
    height auto
    position relative
    margin-top -220px
    +below($tablet)
        margin-top -220px
    +mobile()
        margin-top -230px
    .banners
        width 100%
        height 600px
        background-color #F3F3F3
        position relative
        z-index 1
        +below($tablet)
            height 500px
        +mobile()
            height 420px
        .banner
            width 100%
            height 100%
            top 0
            left 0
            background-size cover
            background-position center
            object-fit cover
            .overlay-banner
                width 100%
                margin 0
                display block
                top 60%
                position relative
                text-align center
                montserrat(40, bold)
                color #FFF
                text-shadow #313F48 -2px 2px 1px
                +below($tablet)
                    font-size 30px
                +mobile()
                    font-size 22px
                    top 65%
                    width 90%
                    margin 0 auto
    .areas
        width 100%
        display flex
        flex-direction row
        align-items center
        justify-content center
        position relative
        margin-top -135px
        +below($tablet)
            margin-top -100px
        +mobile()
            margin-top -45px
        .area
            width 250px
            height 250px
            display flex
            align-items center
            justify-content center
            opensans(22)
            font-weight 600
            font-style italic
            color #FFF
            text-align center
            border-radius 50%
            border 4px solid #FFF
            position relative
            padding 20px
            line-height 1.4
            +below($tablet)
                width 200px
                height 200px
                font-size 16px
                border 3px solid #FFF
            +mobile()
                width 90px
                height 90px
                font-size 9px
                font-weight 500
                border 2px solid #FFF
                padding 10px
        #area1
            background-color #518A7C
            z-index 9
            margin-right -25px
            +below($tablet)
                margin-right -20px
            +mobile()
                margin-right -13px
        #area2
            background-color #D5904C
            z-index 8
            margin-right -25px
            +below($tablet)
                margin-right -20px
            +mobile()
                margin-right -15px
        #area3
            background-color #C4424B
            z-index 7
            margin-right -25px
            +below($tablet)
                margin-right -20px
            +mobile()
                margin-right -15px
        #area4
            background-color #40577A
            z-index 6
        #area1, #area2, #area3, #area4
            transition .3s ease
            &:hover
            &:focus
                background-color #85807F
                color #86174C
    .slides
        width 1300px
        position relative
        margin 60px auto
        +below($tablet)
            width 90%
        +mobile()
            margin 30px auto
        .slide
            width 100%
            height 440px
            background-color #FFF
            margin 0
            +below($tablet)
                height 400px
            +mobile()
                height 310px
            .slide-gradiente
                position absolute
                height 160px
                width 100%
                bottom 0
                left 0
                background-image linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9))
                background-color transparent
                z-index 99
            .overlay-slide
                width 100%
                display flex
                align-items center
                left 50px
                bottom 40px
                position absolute
                montserrat(36)
                font-weight 200
                color #FFF
                text-shadow #313F48 0 1px 1px
                z-index 100
                +below($tablet)
                    left 40px
                    font-size 24px
                +mobile()
                    width 90%
                    left 20px
                    font-size 16px
                .img-seta
                    width 18px
                    margin-right 25px
                    +below($tablet)
                        width 16px
                        margin-right 15px
                    +mobile()
                        width 14px
                        margin-right 10px
        .cycle-pager 
            display flex
            flex-direction row
            align-items center
            justify-content flex-end
            position absolute
            bottom 30px
            right 30px
            width 1300px
            z-index 500
            padding 0
            background transparent
            margin 0 auto
            +below($tablet)
                width 50%
            +mobile()
                bottom 15px
                right 20px
            span 
                height 12px
                width 12px
                border-radius 50%
                float left
                color transparent
                transition-property background-color
                transition-duration 300
                border 2px solid #FFF
                cursor pointer
                margin 1px
                +below($tablet)
                    height 10px
                    width 10px
                    border 1px solid #FFF
                +mobile()
                    height 8px
                    width 8px
        .cycle-pager span:hover, .cycle-pager span.cycle-pager-active, #sb-counter div.sb-counter-current 
            background #FFF
    .faixa-texto
        width 100%
        height 265px
        position relative
        background-color #E9E8E8
        margin-bottom 50px
        +below($tablet)
            height 240px
        +mobile()
            height auto
            margin-bottom 30px
        .centralizado
            width 1300px
            height 100%
            margin 0 auto
            display flex
            flex-direction row
            align-items center
            justify-content center
            +below($tablet)
                width 90%
            +mobile()
                flex-direction column
            .titulo
                width 45%
                height 100%
                border-right 1px solid #86174C
                montserrat(42, light)
                color #85807F
                padding 30px 70px 30px 100px
                display flex
                align-items center
                text-align end
                line-height 1.3
                +below($tablet)
                    width 40%
                    font-size 30px
                    padding 30px 70px 30px 50px
                +mobile()
                    width 90%
                    font-size 24px
                    padding 20px 0 20px 70px
                    border-right none
                    border-bottom 1px solid #86174c
            .texto
                width 30%
                height 100%
                border-right 1px solid #86174C
                opensans(18, medium)
                color #0F0F0F
                padding 0 10px 0 50px
                display flex
                flex-direction column
                align-items flex-start
                justify-content center
                +below($tablet)
                    width 35%
                    font-size 14px
                    padding 0 10px 0 40px
                +mobile()
                    width 90%
                    padding 20px 0 20px 40px
                    border-right none
                    border-bottom 1px solid #86174c
                    align-items flex-end
                > p
                    line-height 1.8
                    margin 0
            .saiba-mais
                width 25%
                height 100%
                montserrat(16)
                font-weight 600
                color #86174C
                padding 50px 180px 50px 50px
                display flex
                align-items center
                text-align start
                line-height 1.3
                +below($tablet)
                    font-size 14px
                    padding 50px 100px 50px 50px
                +mobile()
                    width 90%
                    padding 20px 0 20px 100px
                    justify-content flex-end
                &:hover
                &:focus
                    color #85807F
                    font-weight 800
    .obras-destaques
        width 1300px
        height auto
        margin 0 auto
        padding 50px 0
        +below($tablet)
            width 90%
        +mobile()
            padding 30px 0 0 0
        .titulo-destaque
            montserrat(36, light)
            color #0F0F0F
            margin 0 0 40px 0
            text-align center
            +below($tablet)
                font-size 32px
            +mobile()
                width 100%
                padding 0
                font-size 24px
                margin-bottom 30px
        .obras
            width 100%
            display flex
            flex-direction row
            align-items flex-start
            justify-content space-between
            +mobile()
                flex-direction column
            div.obra
                width 400px
                display flex
                flex-direction column
                cursor pointer
                +below($tablet)
                    width 32%
                +mobile()
                    width 100%
                    margin-bottom 30px
                a.obra
                    width 100%
                    .img-obra
                        width 400px
                        height 250px
                        object-fit cover
                        transition .3s ease
                        +below($tablet)
                            width 100%
                            height 200px
                    .titulo-obra
                        montserrat(14, medium)
                        color #0F0F0F
                        margin 15px 20px
                        +below($tablet)
                            font-size 14px
                            margin 10px 15px
                        +mobile()
                            margin-left 0
                    .linha-destaque
                        width 100px
                        margin 0 20px 10px 20px
                        border 1px solid #86174C
                        +below($tablet)
                            width 20%
                            margin 0 15px 10px 15px
                        +mobile()
                            margin-left 0
                .area-destaque
                    margin 0 20px
                    montserrat(22, medium)
                    color #86174C
                    +below($tablet)
                        margin 0 15px
                        font-size 16px
                    +mobile()
                        margin-left 0
                        font-size 14px
                &:hover
                &:focus
                    .img-obra
                        opacity 0.6
                    .titulo-obra
                        font-weight bold
                    .area-destaque
                        color #85807F
