section.politica-de-privacidade
    width 100%
    height auto
    position relative
    background-color #F3F3F3
    margin-top 0
    .centralizado
        width 1300px
        margin 0 auto
        padding 30px 0
        position relative
        +below($tablet)
            width 90%
        .titulo
            width 100%
            margin 0 0 30px 0
            montserrat(28, light)
            color #86174C
            position relative
            +below($tablet)
                font-size 24px
        .texto
            width 100%
            opensans(16, medium)
            color #0F0F0F
            padding-right 70px
            +below($tablet)
                font-size 14px
                padding-right 0
            > p
                line-height 1.7
            > ul 
                li
                    line-height 1.7
