section.servicos
    width 100%
    height auto
    position relative
    background-color #F3F3F3
    margin-top 0
    .centralizado
        width 1300px
        margin 0 auto
        display flex
        flex-direction row
        align-items flex-start
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
        .submenu
            width 50%
            padding-right 130px
            +below($tablet)
                padding-right 30px
            +mobile()
                width 100%
                padding-right 0
                margin-bottom 30px
            .titulo-menu
                montserrat(28, light)
                color #86174C
                margin 28px 0 25px 0
                +below($tablet)
                    font-size 24px
                    margin 20px 0
            .itens-submenu
                width 100%
                display flex
                flex-direction column
                align-items flex-start
                .link-submenu
                    width 100%
                    height auto
                    display flex
                    flex-direction column
                    border-bottom 2px solid #DBDAD9
                    cursor pointer
                    .nome-link
                        width 100%
                        display flex
                        flex-direction row
                        align-items center
                        justify-content space-between
                        p.nome
                            width 90%
                            display flex
                            align-items center
                            montserrat(16, medium)
                            color #85807F
                            text-transform uppercase
                            margin 0
                            +below($tablet)
                                font-size 14px
                            +mobile()
                                font-size 12px
                            span
                                montserrat(18, bold)
                                color #86174C
                                margin-right 5px
                                +below($tablet)
                                    font-size 16px
                                +mobile()
                                    font-size 14px
                        .img-seta-link
                            display block
                            width 12px
                            height 15px
                            position relative
                            margin 0 5px
                            +below($tablet)
                                width 10px
                                height 10px
                            +mobile()
                                width 8px
                                height 8px
                        .img-seta-active
                            display none
                    &:hover
                    &:focus 
                    &.active
                        background-color #E9E8E8
                    &.active
                        .nome-link
                            .img-seta-link
                                display none
                            .img-seta-active
                                display block
                                width 9px
                                position relative
                                margin 0 7px 0 5px
                                +below($tablet)
                                    margin 0 5px
                                +mobile()
                                    width 7px
                    .sublinks-servicos
                        width 100%
                        display none
                        flex-direction column
                        align-items flex-start
                        padding 0
                        .sublink-submenu
                            width 90%
                            display flex
                            montserrat(14, medium)
                            color #85807F
                            text-transform uppercase
                            margin 0
                            padding 2px 0
                            +below($tablet)
                                font-size 12px
                            span
                                montserrat(14, medium)
                                color #86174C
                                margin 0 7px 0 5px
                                +below($tablet)
                                    font-size 12px
                                    margin 0 5px
                            &:hover
                            &:focus 
                            &.active
                                color #86174C
                                font-weight 600
        .conteudo-submenu
            width 50%
            position relative
            display block
            +mobile()
                width 100%
            h4.titulo-conteudo
                montserrat(24)
                color #86174C
                text-transform uppercase
                font-weight 600
                margin 35px 0 30px 0
                +below($tablet)
                    font-size 20px
                    margin 20px 0
                +mobile()
                    font-size 18px
            .texto-conteudo
                opensans(16, medium)
                color #0F0F0F
                margin-bottom 40px
                padding-right 0
                +below($tablet)
                    font-size 14px
                    margin-bottom 30px
                > p
                    line-height 1.7
                    margin 25px 0
                    +below($tablet)
                        margin 20px 0
                > ul 
                    line-height 1.7
                    li
                        line-height 1.7
            .areas-aplicacoes
                width 100%
                height auto
                margin-bottom 30px
                position relative
                .area
                    display flex
                    flex-direction column
                    align-items flex-start
                    margin 20px 0
                    .link-area
                        montserrat(16, medium)
                        text-transform uppercase
                        +below($tablet)
                            font-size 13px
                        &:hover
                            font-weight 600
                    .link-aplicacao
                        montserrat(16, medium)
                        margin-top 3px
                        +below($tablet)
                            font-size 13px
                        &:hover
                            font-weight 600
                #divArea1
                    .link-area, .link-aplicacao
                        color #518A7C
                #divArea2
                    .link-area, .link-aplicacao
                        color #D5904C
                #divArea3
                    .link-area, .link-aplicacao
                        color #C4424B
                #divArea4
                    .link-area, .link-aplicacao
                        color #40577A
            .servico-imagens
                display flex
                flex-direction row
                flex-wrap wrap
                .img-servico
                    width auto
                    height 240px
                    margin 0 10px 10px 0
                    +below($tablet)
                        height 180px
                    +mobile()
                        height 150px